﻿<div id="messages">
    @if (TempData.ContainsKey("MessageType") && TempData.ContainsKey("Message")) {
        if ((MessageType)TempData["MessageType"] == MessageType.Error) {
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><i class="fa fa-exclamation"></i> @TempData["Message"]</p>
            </div>
        }
        if ((MessageType)TempData["MessageType"] == MessageType.Warning) {
            <div class="alert alert-warning">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><i class="fa fa-warning"></i> @TempData["Message"]</p>
            </div>
        }
        if ((MessageType)TempData["MessageType"] == MessageType.Success) {
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><i class="fa fa-check"></i> @TempData["Message"]</p>
            </div>
        }
        if ((MessageType)TempData["MessageType"] == MessageType.Info) {
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p><i class="fa fa-info"></i> @TempData["Message"]</p>
            </div>
        }
    }
</div>