﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <link href="~/SweetAlert/sweetalert.css" rel="stylesheet" />
        <script src="~/SweetAlert/sweetalert.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
        <link href="~/SweetAlert/sweetalert.css" rel="stylesheet" />
        <script src="~/SweetAlert/sweetalert.min.js"></script>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("head", required: false)
    <title>@(ViewBag.Title != null ? ViewBag.Title + " - Harbro" : "Harbro")</title>
    <style>
        body {
            background-color: #DA291C;
        }

        .logo {
            display: inline-flex;
            margin-bottom: 20px;
            background: white;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 40px 30px;
            margin-top: -50px;
            /*margin-left: 150px;*/
        }
    </style>
    
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script src="~/lib/kendo-ui/js/cultures/kendo.culture.en-GB.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
        <script src="~/lib/kendo-ui/js/cultures/kendo.culture.en-GB.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script type="text/javascript">
    kendo.culture("en-GB");
</script>