﻿@model Harbro.Web.ViewModel.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<h2 style="color:#fff">Change Password</h2>
<hr />
<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="All" class="alert-danger"></div>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CurrentPassword">Current password*</label>
                        <input asp-for="CurrentPassword" class="form-control" placeholder="Current password" />
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">New password*</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="New password" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword">Confirm new password*</label>
                        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm password" />
                    </div>
                    <div class="form-group">
                        <a href="@Model.ReturnUrl" class="btn btn-info">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                    <input asp-for="ReturnUrl" type="hidden" />
                </div>
            </div>
        </div>
    </div>
</form>