﻿@model Harbro.Web.ViewModel.Account.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_UnauthorisedLayout";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" asp-action="Login" asp-controller="Account" style="background-color:#DA291C;border-radius:8px;margin-top:150px">
            <div asp-validation-summary="All" class="alert-danger"></div>
            <br />
            <br />
            <div class="form-group" style="margin-left:25px;margin-right:25px">
                <input asp-for="EmailAddress" class="form-control" placeholder="Username" style="text-align:center" />
            </div>
            <div class="form-group" style="margin-left:25px;margin-right:25px">
                <input asp-for="Password" class="form-control" placeholder="Password" style="text-align:center" />
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg btn-primary" style="background-color:#DA291C; border-color:#fff;width:200px" value="Login" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <div class="form-group" style="margin-top:10px">
                        <a href="#" style="color:#fff;" class="cbx-label" onclick="resetPassword()">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="resetPassword" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Request Password Reset</h4>
            </div>
            <div class="modal-body" style="text-align:center">
                <h4>Enter your email address</h4>
                <p>Don't worry, we'll send you a link to reset your password.</p>
                @Html.TextBox("ResetEmailAddress", null, new { @class = "form-control", @type = "email", @style = "width:100%", @data_bind = "value:emailAddress", @data_value_update = "keyup" })
                <a href="#" id="emailAddressConfirm" data-bind="enabled:emailAddressValid" class="btn btn-primary" style="background-color:#DA291C; border-color:#fff;margin-top:10px">Submit</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function resetPassword() {
            $("#resetPassword").modal("show");
        }

          $("#emailAddressConfirm").click(function () {
            var email = $("#ResetEmailAddress").val();

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("ResetPasswordRequest", "Account")',
                data: {
                    emailAddress: email,
                },
                success: function () {
                    $('#resetPassword').modal('hide');
                    $("#ResetEmailAddress").val("");

                    bootbox.dialog({
                        title: "Reset Password Requested",
                        message: "You will receive an email with instructions for resetting your password shortly.",
                        backdrop: true,
                        closeButton: false,
                        buttons: {
                            success: {
                                label: "OK",
                                className: "btn-primary",
                            }
                        }
                    });
                },
                error: function (response) {
                    var responseText = response.responseText.replace(/\"/g, "");

                    bootbox.dialog({
                        title: "Reset Password Error",
                        message: responseText,
                        backdrop: true,
                        className: "error",
                        closeButton: false,
                        buttons: {
                            success: {
                                label: "OK",
                                className: "btn-primary",
                                callback: function () {
                                }
                            }
                        }
                    });
                }
            });
        });
    </script>
}