﻿@model Harbro.Web.ViewModel.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_ResetPasswordLayout";
}
@section scripts{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 style="color:#fff">Reset Password</h2>
            <hr />
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" asp-action="ResetPassword" asp-controller="Account">
                                <div asp-validation-summary="All" class="alert-danger"></div>
                                <div class="form-group">
                                    <input asp-for="NewPassword" class="form-control" placeholder="New Password"/>
                                </div>
                                <div class="form-group">
                                    <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Reset Password" />
                                </div>
                                <input asp-for="Reference" type="hidden" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
