﻿@model Harbro.Web.Data.Model.Order
@{
    ViewData["Title"] = "Edit";
}


@using (Html.BeginForm("Repeat", "Order", new { @id = ViewBag.Id})) {
    @Html.ValidationSummary(false)
    <div class="panel">
        <div class="panel-body">
            <h2 style="font-weight:600; color:#DA291C">Edit Re-Order Details</h2>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Item Id</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.ItemId).HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" }))
                    </div>
                    <div class="form-group">
                        <label>Date Required</label>
                        <br />
                        @(Html.Kendo().DatePickerFor(m => m.DateRequired).HtmlAttributes(new { style = "width: 100%" }))
                    </div>
                    <div class="form-group">
                        <label>Units</label>
                        <br />
                        @(Html.Kendo().DropDownListFor(m => m.Units)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("---Select Units---")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = "kg",
                                    Value = "kg"
                                },
                                new SelectListItem() {
                                    Text = "tonne",
                                    Value = "tonne"
                                },
                            })
                            .HtmlAttributes(new { style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Item Name</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.ItemName).HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" }))
                    </div>

                    <div class="form-group">
                        <label>Delivery Address</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.DeliveryAddress).HtmlAttributes(new { style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Quantity</label>
                        <br />
                        @(Html.Kendo().NumericTextBoxFor(c => c.Quantity).Spinners(false).HtmlAttributes(new { style = "width: 100%" }))
                    </div>
                    <div class="form-group">
                        <label>Delivery Method</label>
                        <br />
                        @(Html.Kendo().DropDownListFor(m => m.DeliveryMethod)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("---Select---")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = "Collection",
                                    Value = "Collection"
                                },
                                new SelectListItem() {
                                    Text = "Delivery",
                                    Value = "Delivery"
                                },
                            })
                            .HtmlAttributes(new { style = "width: 100%" }))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Notes</label>
                        <br />
                        @Html.TextAreaFor(m => m.Notes, new {@rows ="5",@class="k-textbox",@style = "width: 100%" })
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.OrderId)
        @Html.HiddenFor(m => m.DateOrdered)
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.Status)
        <input type="submit" class="btn btn-primary " style="margin-bottom: 20px" value="Confirm Order" />
    </div>
}