﻿@model Harbro.Web.Data.Model.Order
@{
    ViewData["Title"] = "ViewOrder";
}
<style>
    table {
        border-collapse: collapse;
        border-radius: 10px !important;
        overflow: hidden;
    }
</style>
<div class="panel">
    <div class="panel-body">
        <h2 style="font-weight:600; color:#DA291C">Order Details</h2>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" style="border-radius:5px" cellspacing="0">
                    <thead style="background-color:black;color:white">
                        <tr>
                            <th style="text-align:center;font-size:15px">Date</th>
                            <th style="text-align:center;font-size:15px">Quantity</th>
                            <th style="text-align:center;font-size:15px">Units</th>
                            <th style="text-align:center;font-size:15px">Item Id</th>
                            <th style="text-align:center;font-size:15px">Item Name</th>
                            <th style="text-align:center;font-size:15px">Client</th>
                            <th style="text-align:center;font-size:15px">Delivery Method</th>
                            <th style="text-align:center;font-size:15px">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">@Model.DateOrdered.ToString("dd-MMM-yyyy")</td>
                            <td style="text-align:center">@Model.QuantityString</td>
                            <td style="text-align:center">@Model.Units</td>
                            <td style="text-align:center">@Model.ItemId</td>
                            <td style="text-align:center">@Model.ItemName</td>
                            <td style="text-align:center">@Model.Client.Name</td>
                            <td style="text-align:center">@Model.DeliveryMethod</td>
                            @if (Model.Status == StatusConstant.Delivered) {
                                <td style="text-align:center;color:#008000;font-weight:600">Delivered</td>
                            } else if (Model.Status == StatusConstant.Pending) {
                                <td style="text-align:center;color:#FFA500;font-weight:600">Pending</td>
                            } else {
                                <td style="text-align:center;color:#CC0000;font-weight:600">Cancelled</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin:20px">
            @if (Model.DeliveryMethod == "Delivery") {
            <div class="col-md-4">
                <h4 style="font-weight:600">Delivery Address</h4>
                @foreach (var line in Model.Delivery) {
                    <span>@line</span><br />
                }
            </div>
            }
            <div class="col-md-4">
                <h4 style="font-weight:600">Billing Address</h4>
                @foreach (var line in Model.Client.Billing)
                {
                    <span>@line</span><br />
                }
            </div>
            <div class="col-md-4">
                <h4 style="font-weight:600">Client Contact Information</h4>
                <p>@Model.Client.Name</p>
                <p>Contact Name : @Model.Client.ContactName</p>
                <p>Tel : @Model.Client.Telephone</p>
                <p>Email : <a href="@Model.Client.EmailAddress" target="_top">@Model.Client.EmailAddress</a></p>
            </div>
        </div>
        <div style="border:1px solid #ededed"></div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <h4 style="font-weight: 600;">Order placed on @Model.DateOrdered.ToString("dd MMMM yyyy")</h4>
            </div>
            @if (Model.DateDelivered.HasValue)
            {
                <div class="col-md-6">
                    <h4 style="color:#008000;font-weight: 600;">Order delivered on @Model.DateDelivered.Value.ToString("dd MMMM yyyy")</h4>
                </div>
            }
            @if (Model.DateRequired.HasValue && Model.Status == StatusConstant.Pending)
            {
                <div class="col-md-6">
                    <h4 style="color:#008000;font-weight: 600;">Order required by @Model.DateRequired.Value.ToString("dd MMMM yyyy")</h4>
                </div>
            }
            @if (Model.DateCancelled.HasValue)
            {
                <div class="col-md-6">
                    <h4 style="color:#cc0000;font-weight: 600;">Order cancelled on @Model.DateCancelled.Value.ToString("dd MMMM yyyy")</h4>
                </div>
            }
        </div>
        <br />
        <div style="border:1px solid #ededed"></div>
        <br />
        <div class="row">
            <a class="btn btn-default pull-left" href="@Url.Action("Index","Home")">Return to Order History </a>
            @if (((ClaimsIdentity)User.Identity).HasClaim(ClaimTypes.Role, UserRoleConstant.Administrator))
            {
                @if (Model.Status != StatusConstant.Cancelled && Model.Status != StatusConstant.Delivered)
                {
                    <a class="btn btn-primary pull-right" href="@Url.Action("Cancel", "Order", new { @id = Model.OrderId })">Cancel Order </a>
                    <a class="btn btn-primary pull-right" href="@Url.Action("Deliver", "Order", new { @id = Model.OrderId })">Mark as Deliverd </a>
                    <a class="btn btn-primary pull-right" href="@Url.Action("Edit", "Order", new { @id = Model.OrderId })">Edit Order </a>
                }
                <a class="btn btn-primary pull-right" href="@Url.Action("RepeatOrder", "Order", new { @id = Model.OrderId })">Repeat Order </a>
            }
        </div>
    </div>
</div>
@section Scripts{

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("","@ViewBag.Message", "success")
            };
        </script>
    }

}

