body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.k-link:link {
    color:#DA291C !important;
}
/*.k-state-selected{
    background-color: #DA291C !important;
    border-color: #DA291C !important;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.k-list > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected {
    -webkit-box-shadow: inset 0 0 10px 3px #3276b1;
    /*box-shadow: inset 0 0 10px 3px #DA291C;*/
}
.k-grid-header th.k-header > .k-link {
    color: white !important;
}

.k-grid {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.k-grouping-header /*,
.k-grid-header,
.k-grid-header table */ {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.k-grid-pager {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.panel {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.btn {
    border-radius: 15px !important;
    font-weight: 600 !important;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #DA291C;
    border-color: #DA291C;
    color: #fff;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: #2C2A29;
    border-color: #2C2A29;
    color: #fff;
}
h2 {
    font-weight: 600;
    color: #DA291C;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ededed !important;
}