/** 
 * Kendo UI v2018.1.131 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2018 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #13688c;
@base: #daecf4;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #003f59;
@normal-gradient: "rgba(255,255,255,.45) 0%, rgba(255,255,255,.0) 100%";
@hover-background: #7bd2f6;
@hover-text-color: #003f59;
@hover-gradient: "rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%";
@selected-background: #13688c;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.0) 0%, rgba(255,255,255,.23) 100%";

@error: #db4240;
@warning: #ffb400;
@success: #37b400;
@info: #0066cc;

@series-a: #0069a5;
@series-b: #0098ee;
@series-c: #7bd2f6;
@series-d: #ffb800;
@series-e: #ff8517;
@series-f: #e34a00;

// graphics
@image-folder: "BlueOpal";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
@checkbox-active-border-color: contrast(@selected-background, lighten(@accent, 38%), darken(@accent, 29%), 0.5);
@column-highlight-background-color: contrast(@selected-background, lighten(@base, 6%), darken(@base, 3%), 0.5);
@scheduler-nonwork-background-color: contrast(@selected-background, lighten(@base, 3%), darken(@base, 5%), 0.5);
