/** 
 * Kendo UI v2018.1.131 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2018 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 2.07142857em;
@input-padding-y: 0.17857143em;
@input-indent: .8em;
@editor-icon-size: 36px;
@menu-link-padding: 1.071em;
@button-padding-x: 14px;
@button-padding-y: 8px;
@button-padding: @button-padding-y @button-padding-x;
@treeview-inner-padding: 0.429em 0.6667em 0.429em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: 0 1.1em;
@grid-header-padding: .429em .2em .429em 1em;
@icon-positioning: "material";
@spreadsheet-action-bar-font-size: 14px;

@import "common/all.less";

@spreadsheet-first-tool-offset: 0;
@spreadsheet-popup-button-padding: .6em 1.2em .6em 1em;
@calendar-cell-width: ((38px / 14px) * 1em);

.k-button {
    line-height: 1.28571428em;
    padding: @button-padding;
}

.k-button-icon,
.k-split-button-arrow {
    padding: @button-padding-y calc(@button-padding-x/2);
    height: ~"calc(1.28571428em + (2*@{button-padding-y}) + 2px)"; // ensure inline-flex height
    width: ~"calc(1.28571428em + (2*@{button-padding-y}) + 2px)";
}

.k-widget.k-tabstrip
{
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip > .k-button.k-bare {
    top: .3em;
}

.k-tabstrip > div.k-content,
.k-panelbar .k-tabstrip > div.k-content
{
    margin: 0;
}

.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link {
    line-height: 3.5em;
}

.k-tabstrip > .k-tabstrip-items > .k-item {
    text-transform: uppercase;
    border-width: 0;
    border-style: solid;
    padding: 0;
}

.k-tabstrip-left > .k-tabstrip-items .k-loading,
.k-tabstrip-right > .k-tabstrip-items .k-loading {
    display: none;
}

.k-tabstrip-top > .k-tabstrip-items .k-tab-on-top,
.k-tabstrip-top > .k-tabstrip-items .k-state-active {
    margin-bottom: -1px;
}

.k-tabstrip-top > .k-tabstrip-items > .k-item {
    border-bottom-width: 2px;
}

.k-tabstrip-left > .k-tabstrip-items .k-tab-on-top,
.k-tabstrip-left > .k-tabstrip-items .k-state-active {
    margin-right: -2px;
}

.k-tabstrip-left > .k-tabstrip-items > .k-item {
    border-right-width: 2px;
}

.k-tabstrip-right > .k-tabstrip-items > .k-item {
    border-left-width: 2px;
}

.k-tabstrip-bottom > .k-tabstrip-items > .k-item {
    border-top-width: 2px;
}

.k-tabstrip .k-tabstrip-items .k-link {
    padding: 1.071em;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid-header th.k-header,
.k-filter-row th {
    padding: .786em .6em;
}

.k-grid-header th.k-header {
  padding-left: 1.286em;
}

.k-rtl .k-grid-header th.k-header {
  padding-right: 1.286em;
}

.k-filtercell > span {
    padding-right: 5.714em;
}

.k-filtercell > span > .k-button {
    padding-left: .714em;
    padding-right: .714em;
    line-height: 1.286em;
    margin: 0;
}

.k-filter-row .k-dropdown-operator {
    width: 2.714em;
    right: 2.857em;
}

.k-filter-menu {
    padding: .5em .5em 0;
}

.k-filter-menu .k-button {
    margin: 0;
    width: 50%;
    border-radius: 0;
}

.k-filter-menu .k-primary {
    float: right;
}

.k-filter-menu > div > div:last-child {
    margin: .5em -.5em 0;
    border-top-width: 1px;
    border-top-style: solid;
}

.k-filter-menu .k-primary {
   border-left-width: 1px;
   border-left-style: solid;
}

.k-grouping-header .k-group-indicator
{
    padding: .5em .15em .429em .4em;
}

.k-grid .k-grouping-row td {
    padding: .6em .6em 0.643em;
}

.k-grouping-header a,
.k-grouping-header .k-button
{
    vertical-align: baseline;
}

.k-grid td {
    padding: 0.929em 1.286em;
}

.k-grid-header th.k-header>.k-link {
    padding: 0;
    margin: 0;
    min-height: 16px;
    line-height: inherit;
}

.k-grouping-header
{
    line-height: 2.6;
}

.k-grid-content tr:last-child > td,
.k-grid-content-locked tr:last-child > td {
    border-bottom-width: 0;
}

.k-grid tr td,
.k-pivot-layout .k-grid tr td
{
    border-bottom-width: 1px;
    border-style: solid;
}

.k-grouping-row + tr td {
    border-top-width: 0;
}

.k-grid-content table tr:first-child td,
.k-grid-content-locked table tr:first-child td {
    border-top: 0;
}

.k-grid-content tr td {
    border-left-width: 0;
}

.k-pager-numbers .k-state-selected {
    line-height: 2.429em;
    cursor: pointer;
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    border-width: 2px 0 0;
    padding-top: .7em;
}

.k-pager-wrap {
    line-height: 1.286em;
    padding: .429em 0 .429em .25em;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link {
    height: 2.429em;
    line-height: 2.429em;
}

.k-pager-wrap .k-link,
.k-pager-sizes {
    padding: 0;
    min-width: 2.429em;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: -.45em;
    padding-top: .45em;
    min-width: 2.429em;
}

.k-pager-wrap input.k-textbox {
    height: 2.571em;
}

.k-pager-info {
    padding: .714em 1.333em .643em 1.333em;
}

.k-pager-wrap .k-pager-refresh {
    margin-right: 1.214em;
}

.k-pager-wrap .k-dropdown {
    width: 5.2em;
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: 3.3em;
}

.k-combobox-clearable {
    .k-input {
        padding-right: 2.5em;
    }
}

.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: (@grid-size/2 - 1px);
}

.k-autocomplete .k-i-loading,
.k-multiselect .k-i-loading
{
    bottom: 10px;
}

.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: (@grid-size/2 + 2px);
}

.k-autocomplete > .k-i-close,
.k-multiselect > .k-multiselect-wrap > .k-i-close {
    right: 10px;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    padding: 0 2.42857142em 0 0;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    width: 2.42857142em;
}

.k-datetimepicker {
    width: 19.5em;
}

.k-datetimepicker .k-select {
    width: 5em;
}

.k-datetimepicker .k-picker-wrap {
    padding-right: 5em;
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.k-calendar .k-header {
    margin: 0 -5px;
}

.k-calendar td {
    padding: 0;
}

.k-calendar .k-content .k-link {
    min-height: 2.571em;
    line-height: 2.571em;
    padding: 0;
    text-align: center;
}

.k-calendar .k-century .k-link {
    text-align: left;
    padding: 0 .7em;
    line-height: 1.3em;
}

.k-calendar th {
    border-bottom-width: 0;
    padding: .714em .45em .714em 0;
}

.k-calendar .k-footer {
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0 -5px;
}

.k-popup.k-list-container {
    padding: 0.286em 0;
}

.k-popup.k-calendar-containe {
    padding: 0;
}

.k-popup .k-list .k-item,
.k-popup > .k-group-header,
.k-fieldselector .k-list .k-item {
    min-height: 2.143em;
    line-height: 2.143em;
}

.k-fieldselector .k-pivot-configurator-settings li.k-item {
    padding-right: 3.8em;
}

.k-popup .k-list .k-item {
    padding: 1px 11px;
}

.k-button,
.k-calendar .k-header .k-link,
.k-calendar .k-footer {
    text-transform: uppercase;
}

.k-widget.k-calendar .k-nav-fast
{
    width: 65%;
    height: 2.571em;
    line-height: 2.571em;
    margin: 0.429em -0.08333em 0.429em 0;
}

.k-calendar .k-header .k-icon
{
    vertical-align: middle;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    position: absolute;
    top: 0.429em;
    line-height: 2.571em;
    height: 2.571em;
}

.k-calendar .k-header .k-link.k-nav-prev,
.k-calendar .k-header .k-link.k-nav-next
{
    height: 2.571em;
    width: 2.571em;
}

.k-widget.k-calendar .k-nav-prev {
    left: 0.429em;
}

.k-widget.k-calendar .k-nav-next {
    right: 0.429em;
}

.k-calendar .k-footer .k-nav-today,
.k-calendar .k-footer > .k-state-disabled
{
    padding: 1.143em 0 1.071em;
}

.k-popup.k-calendar-container {
    padding: 0;
    border: 0;
}

.k-multiselect-wrap li {
    border-radius: 1.071em;
    margin: 3px 0 3px 3px;
    padding: 0 1.6em 0 .857em;
    line-height: calc(@input-height - 0.214em);
    min-height: calc((@input-height + 0.357em) - 6px);
}

.k-multiselect-wrap li span {
    margin-right: .4em;
}
.k-multiselect-wrap li span.k-icon {
    margin: 0;
}

.k-multiselect-wrap .k-select
{
    padding-top: 0;
}

.k-numeric-wrap .k-select {
    vertical-align: baseline;
}

.k-numerictextbox .k-link {
    display: block;
    height: ((@input-height + 0.354em) / 2);
}

.k-numerictextbox .k-link .k-i-arrow-60-up {
    vertical-align: bottom;
}

.k-numerictextbox .k-link .k-i-arrow-60-down {
    vertical-align: top;
}

.k-menu.k-header,
.k-menu .k-item,
.k-widget.k-menu-horizontal > .k-item {
    border-width: 0;
}

.k-popup.k-context-menu {
    border-width: 1px;
    border-style: solid;
}

.k-context-menu.k-menu-vertical > .k-item > .k-link,
.k-menu .k-menu-group .k-item > .k-link
{
    padding: 0.5em 4.929em 0.5em 1.714em;
}

.k-menu .k-item > .k-link > .k-i-arrow-60-right {
    right: 2.143rem;
}

.k-menu .k-animation-container .k-menu-group {
    padding: 1.143em 0;
}

.k-column-menu .k-menu .k-animation-container .k-menu-group {
    padding: 0;
}

.k-column-menu .k-menu-vertical .k-separator {
    height: 0;
}

table.k-editor {
    border-spacing: 0;
}

.k-editor.k-resizable .k-editable-area {
    padding-bottom: 20px;
}

.k-editor .k-editable-area .k-content {
    border-width: 1px 0 0;
}

.k-editor .k-editor-toolbar-wrap {
    padding-left: 10px;
}

.k-toolbar {
    padding: 0.42857143em;
    @toolbar-button-padding: 14px;

    .k-button {
        padding: @toolbar-button-padding 14px;
    }
    .k-button,
    .k-split-button {
        margin-top: -0.42857143em;
        margin-bottom: -0.42857143em;
    }
    .k-split-button .k-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    .k-button-icon,
    .k-split-button-arrow {
        height: ~"calc(1.28571428em + (2*@{toolbar-button-padding}) + 2px)"; // ensure inline-flex height
        width: ~"calc(1.28571428em + (2*@{toolbar-button-padding}) + 2px)";
    }

    & > .k-button:first-child:not(.k-overflow-anchor),
    .k-overflow-anchor + .k-button {
        margin-left: -0.42857143em;
    }
}

.k-toolbar .k-button-group .k-button {
    margin-left: 0;
}

.k-toolbar .k-input {
    text-indent: @input-indent;
    border: 0;
    margin: 0;
}

.k-toolbar .k-overflow-anchor {
    border-width: 0;
    width: 3.42em;
    padding: 0;
    margin: 0;
}

.k-overflow-container .k-overflow-button,
.k-split-container .k-button {
    font-size: 1.2em;
}

.k-button-group .k-tool {
    margin: 6px 0;
}

.k-editor-toolbar li.k-tool-group,
.k-editor-toolbar li.k-overflow-tools {
    padding: 0;
    box-shadow: none;
}

.k-editor-toolbar .k-button-group .k-tool {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 0;
}

.k-editor-toolbar .k-tool,
.k-editor-toolbar .k-button-group .k-tool.k-group-end {
    border-width: 0;
}

.k-editor-toolbar .k-state-selected {
    font-weight: bold;
}

.k-filebrowser {

    .k-filebrowser-toolbar {
        display: flex;
    }

    .k-toolbar-wrap {
        display: inline-flex;
        align-items: center;
    }

    .k-upload .k-upload-button {
        vertical-align: bottom;
    }

    .k-search-wrap .k-search {
        right: 4px;
    }

    .k-search-wrap {
        padding: 2px .3em;
    }

    .k-tiles-arrange {
        margin-left: auto;

        .k-dropdown {
            width: 80px;
        }
    }
}

.k-draghandle
{
    border-width: 2px;
}

span.k-tooltip
{
    padding: 9px 17px;
}

.k-block > .k-header,
.k-window-titlebar {
    padding: 0.5em 0 0.571em;
}

.k-window-titlebar .k-window-actions {
    top: 0.3em;
    right: 0.8em;
}

div.k-window {
    border-width: 0;
}

.k-window-title {
    padding: 0 12px;
}

div.k-window-content {
    padding: 1.333em;
}

.k-dialog .k-dialog-titlebar .k-dialog-title {
    max-width: calc(100% - 22px - 1.8em);
}

div.editorToolbarWindow.k-window-content {
    padding: 0;
}

.editorToolbarWindow .k-editortoolbar-dragHandle {
    line-height: 30px;
}

.k-file {
    padding: .643em .17em .643em 1em;
}

.k-scheduler-table td,
.k-scheduler-table th
{
    height:1.643em;
}

.k-gantt-treelist .k-grid-header tr {
    height: 5.714em;
}

.k-gantt-timeline .k-grid-header tr {
    height: 2.857em;
}

.k-gantt .k-task-summary:before,
.k-gantt .k-task-summary-complete:before,
.k-gantt .k-task-summary:after,
.k-gantt .k-task-summary-complete:after {
    border-width: 0;
}

.k-gantt {
    .k-task {
        border-width: 0;
    }

    .k-task-actions {
        line-height: 2.429em;
    }

    .k-task-single {
        margin-top: -.429em;
    }

    .k-task-template {
        padding: .643em 1.4em .643em .6em;
    }

    .k-task-milestone {
        width: 17px;
        height: 17px;
    }

    .k-task-draghandle {
        margin: 0 23px;
        border-width: 8px;
        border-radius: 0 50% 50% 50%;
        border-style: solid;
        bottom: -11px;
    }

    .k-gantt-timeline th {
        text-align: left;
    }
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
    height: 3.5em;
}

.k-gantt-edit-form > .k-edit-form-container {
    .k-textbox,
    .k-numerictextbox
    {
        width: 19.5em;
    }
}

.k-notification-wrap {
    padding: 1.786em;
}

.k-notification-wrap > .k-i-close {
    top: 21px;
}

.k-slider-track {
    border-width: 0;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection {
    height: 2px;
    margin-top: -1px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection {
    width: 2px;
    margin-left: -1px;
}

.k-slider-horizontal .k-draghandle,
.k-slider-vertical .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle {
    width: 6px;
    height: 6px;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle {
    margin-top: -1px;
}

.k-colorpicker
{
    .k-picker-wrap {
        line-height: (@input-height + @input-padding-y*2);
    }

    .k-selected-color {
        @selected-icon-height: 2.42857142em;
        height: @selected-icon-height;
        width: @selected-icon-height;
        .k-i-line {
            line-height: @selected-icon-height;
            font-size: @selected-icon-height;
        }
    }
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-transparency-slider .k-draghandle.k-state-selected
{
    width: 10px;
    height: 10px;
}

.k-draghandle.k-state-focused.k-state-selected {
    margin-left: -2px;
}

.k-slider-horizontal .k-draghandle.k-state-selected,
.k-flatcolorpicker .k-hue-slider .k-draghandle.k-state-selected {
    top: -6px;
}

.k-slider-vertical .k-draghandle.k-state-selected {
    left: -4px;
}

/* PanelBar */
.k-panelbar-expand,
.k-panelbar-collapse {
    right: 16px;
}

/* Grid */
.k-header.k-grid-toolbar {
    border-color: #3343a4;
}

.k-grouping-header,
.k-grid-toolbar {
    padding: 0.429em;
}

.k-grouping-header {
    padding-left: 1.286em;
}

.k-grid .k-icon {
    opacity: 0.45;
}

.k-grid-filter .k-icon {
    opacity: .7;
}

.k-grid {
    th.k-group-cell,
    td.k-group-cell {
        text-overflow: clip;
    }
}

form.k-filter-menu .k-textbox {
    margin-bottom: 7px;
}

/* Scheduler */
.k-gantt-toolbar,
.k-scheduler-toolbar .k-nav-today,
.k-scheduler-toolbar .k-scheduler-views,
.k-scheduler-footer .k-scheduler-fullday {
    text-transform: uppercase;
}

.k-scheduler-footer .k-icon.k-i-clock {
    display: none;
}

.k-gantt-toolbar > ul > li,
.k-scheduler-toolbar > ul > li {
    border-width: 0 0 2px 0;
}

.k-gantt-toolbar li .k-link,
.k-scheduler-toolbar li .k-link,
.k-gantt-toggle {
    vertical-align: middle;
    line-height: 46px;
}

.k-gantt-toggle {
    padding: 0
}

.k-gantt-actions {
    vertical-align: middle;
    line-height: 48px;
}

.k-gantt-actions > .k-button {
    vertical-align: middle;
}

.k-gantt-toolbar,
.k-scheduler-toolbar,
.k-scheduler-footer {
    line-height: 44px;
    vertical-align: middle;
}

.k-scheduler-footer {
    padding: 0;
}

.k-popup-edit-form .k-primary {
    float: right;
}

.k-popup-edit-form:after {
    content: " ";
    display: block;
    clear: both;
}

.k-gantt-toolbar,
.k-scheduler-toolbar {
    padding: 0 1.286em;
}

.k-scheduler-navigation {
    margin-left: -.786em;
}

.k-drag-clue {
    font-size: 1em;
    padding: .65em 1em;
}

// Icons

.k-splitbar-horizontal-hover {
    .k-resize-handle {
        background-position: -165px -6px;
    }
}

.k-splitbar-vertical-hover {
    .k-resize-handle {
        background-position: -38px -309px;
    }
}

.k-splitbar-horizontal.k-state-focused {
    .k-resize-handle {
        background-position: -181px -6px;
    }
}

.k-splitbar-vertical.k-state-focused {
    .k-resize-handle {
        background-position: -70px -309px;
    }
}

.k-grid-header .k-grid-filter,
.k-grid-header .k-header-column-menu {
    padding: .714em;
    margin: -.786em -.6em -.786em 0;
}






@checkbox-size: 16px;

.k-checkbox-label,
.k-radio-label,
.k-checkbox-wrapper {
    line-height: 18px;
}

.k-checkbox:indeterminate + .k-checkbox-label:before {
    border-width: 2px;
}

.k-checkbox + .k-checkbox-label:before {
    z-index: 1;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    width: 10px;
    height: 10px;
    border-width: 0;
    margin-left: 0;
    top: 5px;
    left: 5px;
    transform: none;
    z-index: 2;
}

.k-radio:checked + .k-radio-label:after {
  top: 4px;
  left: 4px
}

//RTL
.k-rtl .k-widget .k-dropdown-wrap,
.k-rtl .k-widget .k-picker-wrap,
.k-rtl .k-widget .k-numeric-wrap {
    padding-left: 2.5em;
}

.k-rtl .k-widget.k-autocomplete > .k-i-close,
.k-rtl .k-widget.k-multiselect > .k-multiselect-wrap > .k-i-close {
    left: 0;
    right: initial;
    margin-left: 10px;
    margin-right: 0;
}

.k-rtl .k-widget.k-combobox > .k-dropdown-wrap > .k-i-close {
    left: 3.3em;
    right: initial;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap {
    padding-left: 5em;
}

.k-rtl .k-widget.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 6px;
}

.km-pane-wrapper .k-pager-numbers .k-link,
.km-pane-wrapper .k-pager-numbers .k-state-selected,
.km-pane-wrapper .k-pager-wrap > .k-link {
    border-radius: 0;
}

.km-pane-wrapper .k-pager-numbers .k-link,
.km-pane-wrapper .k-pager-wrap > .k-link,
.km-pane-wrapper .k-pager-wrap > .k-pager-info {
    padding: .571em .86em;
}

.km-pane-wrapper .k-pager-numbers .k-state-selected {
    padding: .971em .86em .571em;
}

.km-pane-wrapper .k-pager-numbers .k-link {
    min-width: 2.429em;
}

.km-pane-wrapper .k-mobile-list .k-edit-field.k-scheduler-toolbar {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0;
}

.km-pane-wrapper .k-mobile-list .k-edit-field.k-scheduler-toolbar .k-scheduler-navigation {
    margin-bottom: -.6em;
}

.km-pane-wrapper .k-scheduler-views {
    width: auto;
}

.k-spreadsheet .k-spreadsheet-action-bar {
    font-size: @spreadsheet-action-bar-font-size;
}

.k-spreadsheet-window {
    .k-edit-label,
    .k-edit-field {
        padding: 0;
        line-height: 4em;
    }

    .k-edit-label > label {
        vertical-align: middle;
    }

    .k-edit-field {
        .k-radio-label {
            padding-left: 1.75em;
        }

        > .k-radio-label:before,
        > .k-radio-label:after {
            margin-top: -2px;
        }
    }
}

div.k-spreadsheet-window {
    padding: 1em;
}

.k-editor-dialog.k-editor-table-wizard-dialog.k-window-content {
    min-width: 325px;
    width: 25.8em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
    min-height: 510px;
    height: 42em;
}

.k-edit-label,
.k-edit-form-container .editor-label {
    padding: 0.8em 0 1em;
}

.k-edit-form-container
{
    width: 410px;
}

.k-editor-dialog .k-root-tabs {
    padding: 0 1em;
}

.k-editor-dialog ul.k-tabstrip-items {
    padding: 0;
    border: 0;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    min-width: 59px;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-textbox,
.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-dropdown {
    width: 15.74em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-field .k-numerictextbox + .k-dropdown,
.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    width: 4.7em;
}

.k-animation-container .k-popup.k-align .k-list .k-icon {
    line-height: 1.4em;
}

.k-animation-container .k-popup.k-align .k-list .k-i-align-remove {
    line-height: 1.6em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-edit-buttons {
    padding: 0.6em 1.3em;
}

.k-grid {
    .k-edit-cell {
        input.k-checkbox + label.k-checkbox-label {
            margin-left: 1em;
        }
    }
}

// RTL
.k-rtl {

    .k-combobox-clearable {

        .k-input {
            padding-left: 2.5em;
        }
    }


    .k-toolbar {
        & > .k-button:first-child:not(.k-overflow-anchor),
        .k-overflow-anchor + .k-button {
            margin-right: -0.42857143em;
            margin-right: 0.2em;
        }
    }

    .k-gantt {

        .k-task-template {
            padding: .643em .6em .643em 1.4em;
        }

        .k-task-draghandle {
            border-radius: 50% 0 50% 50%;
        }
    }
    .k-popup-edit-form .k-primary {
        float: left;
    }
}

.k-safari.k-mobile .k-picker-wrap .k-input,
.k-safari.k-mobile .k-numeric-wrap .k-input {
    height: 2.15em;
}