/** 
 * Kendo UI v2018.1.131 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2018 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #0066cc;
@base: #272727;
@background: #4d4d4d;

@border-radius: 4px;

@normal-background: #4d4d4d;
@normal-text-color: #fff;
@normal-gradient: "rgba(255,255,255,.12) 0%, rgba(255,255,255,.08) 50%, rgba(255,255,255,.05) 50%, rgba(255,255,255,.0) 100%";
@hover-background: #3d3d3d;
@hover-text-color: #fff;
@hover-gradient: "rgba(255,255,255,.12) 0%, rgba(255,255,255,.08) 50%, rgba(255,255,255,.05) 50%, rgba(255,255,255,.0) 100%";
@selected-background: #0066cc;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.12) 0%, rgba(255,255,255,.08) 50%, rgba(255,255,255,.05) 50%, rgba(255,255,255,.0) 100%";

@error: #be5138;
@warning: #ffb400;
@success: #2b893c;
@info: #0c779b;

@series-a: #008fd3;
@series-b: #99d101;
@series-c: #f39b02;
@series-d: #f05662;
@series-e: #c03c53;
@series-f: #acacac;

// graphics
@image-folder: "Black";
@texture: none;
@fallback-texture: url('textures/glass.png');

@import "type-default.less";
