/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
// Widget
@widget-background-color: @base;
@widget-text-color: @normal-text-color;
@widget-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@widget-gradient: false;
@widget-shadow: false;
// Button
@button-background-color: @base;
@button-text-color: @normal-text-color;
@button-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@button-gradient: false;
@button-shadow: false;
@button-hover-text-color: #ffffff;
@button-hover-background-color: @hover-background;
@button-hover-border-color: @hover-background;
@button-hover-gradient: false;
@button-hover-shadow: false;
@button-active-background: @accent;
@button-active-text-color: @selected-text-color;
@button-active-border-color: @accent;
@button-active-gradient: false;
@button-active-shadow: false;
@button-focused-border-color: contrast(@base, lighten(@accent, 14%), darken(@accent, 14%), 0.5);
@button-focused-shadow: none;
@button-focused-active-shadow: inset 0 0 3px 1px darken(@selected-border-color, 15%);
// Primary button
@primary-text-color: #ffffff;
@primary-background-color: @accent;
@primary-border-color: @accent;
@primary-gradient: false;
@primary-shadow: false;
@primary-hover-text-color: #ffffff;
@primary-hover-background-color: @hover-background;
@primary-hover-border-color: @hover-background;
@primary-hover-gradient: false;
@primary-hover-shadow: false;
@primary-active-text-color: #ffffff;
@primary-active-background-color: @accent;
@primary-active-border-color: @accent;
@primary-active-gradient: false;
@primary-active-shadow: false;
@primary-focused-border-color: contrast(@base, lighten(@accent, 16%), darken(@accent, 29%), 0.5);
@primary-focused-shadow: none;
@primary-focused-active-shadow: none;
@primary-disabled-text-color: contrast(@base, lighten(@base, 1%), darken(@base, 17%), 0.5);
@primary-disabled-background-color: lighten(@accent, 2%);
@primary-disabled-border-color: lighten(@accent, 2%);
@primary-disabled-gradient: false;
@sprite-image: url('@{image-folder}/sprite.png');
@inverse-text-color: contrast(@normal-text-color);
@hover-border-color: @hover-background;
@selected-background-color: @accent;
@active-background-color: lighten(@base, 6%);
@active-border-color: @accent;
@active-text-color: contrast(@base);
@error-background-color: @error;
@error-border-color: #e20000;
@error-text-color: contrast(@base, lighten(@normal-text-color, 1%), darken(@normal-text-color, 20%), 0.5);
@disabled-text-color: contrast(@base, lighten(@base, 42%), darken(@base, 20%), 0.5);
@validation-background-color: @warning;
@validation-border-color: @warning;
@validation-text-color: contrast(@validation-background-color, lighten(@warning, 80%), darken(@warning, 60%), 0.5);
@notification-info-background-color: @info;
@notification-info-text-color: contrast(@base, lighten(@normal-text-color, 1%), darken(@normal-text-color, 7%), 0.5);
@notification-info-border-color: contrast(@base, lighten(@info, 1%), darken(@info, 11%), 0.5);
@notification-success-background-color: @success;
@notification-success-text-color: contrast(@base, lighten(@normal-text-color, 1%), darken(@normal-text-color, 3%), 0.5);
@notification-success-border-color: contrast(@base, lighten(@success, 1%), darken(@success, 11%), 0.5);
@notification-warning-background-color: @warning;
@notification-warning-text-color: contrast(@base, lighten(@normal-text-color, 1%), darken(@normal-text-color, 7%), 0.5);
@notification-warning-border-color: darken(@warning, 15%);
@notification-error-background-color: contrast(@base, lighten(@error, 15%), darken(@error, 9%), 0.5);
@notification-error-text-color: saturate(@normal-text-color, 12%);
@notification-error-border-color: contrast(@base, lighten(@error, 15%), darken(@error, 20%), 0.5);
@notification-gradient: false;
@tooltip-background-color: lighten(@hover-background, 1%);
@draghandle-border-color: saturate(@hover-background, 1%);
@draghandle-shadow: 0 1px 1px 0 fadeout(darken(@normal-text-color, 10%), 70%);
@draghandle-hover-border-color: @accent;
@draghandle-hover-shadow: @draghandle-shadow;
@alt-background-color: contrast(@base, lighten(@base, 6%), darken(@base, 4%), 0.5);
@nested-alt-background-color: contrst(@normal-text-color, darken(@alt-background-color, 8%), lighten(@alt-background-color, 8%), 0.5);
@column-highlight-background-color: contrast(@base, lighten(@base, 8%), darken(@base, 2%), 0.5);
@active-filter-background-color: contrast(@accent, @hover-background-color, darken(@base, 6%), 0.5);
@event-text-color: #ffffff;
@event-inverse-text-color: darken(@success, 29%);
@event-background-color: @accent;
@scheduler-nonwork-background-color: contrast(@base, lighten(@base, 17%), darken(@base, 4%), 0.5);
@resize-background-color: @normal-text-color;
@input-background-color: @base;
@shadow-color: fadeout(contrast(@base), 80%);
@upload-progress-background-color: @info;
@upload-progress-text-color: contrast(@info, @info, darken(@info, 60%), 0.5);
@upload-success-background-color: contrast(@success, @success, darken(@success, 55%), 0.5);
@upload-success-text-color: contrast(@success, @success, darken(@success, 55%), 0.5);
@upload-error-background-color: contrast(@error, @error, darken(@error, 53%), 0.5);
@upload-error-text-color: contrast(@error, @error, darken(@error, 53%), 0.5);
@upload-invalid-color: @error;
@task-summary-color: contrast(@base, lighten(@widget-text-color, 25%), darken(@widget-text-color, 25%), 0.5);
@task-summary-selected-color: contrast(@base, lighten(@selected-background-color, 15%), darken(@selected-background-color, 25%), 0.5);
@loading-panel-color: @base;
@splitbar-background-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@disabled-background-color: @base;
@disabled-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 10%), 0.5);
@disabled-gradient: none;
@tabstrip-active-background: lighten(@base, 6%);
@tooltip-texture: none;
@hover-shadow: none;
@selected-shadow: none;
@active-gradient: none;
@active-shadow: none;
@selected-border-color: @accent;
@focused-border-color: @hover-background;
@focused-shadow: none;
@focused-item-shadow: inset 0 0 0 1px @hover-border-color;
@focused-active-item-shadow: inset 0 0 3px 1px darken(@selected-border-color, 15%);
@list-border-radius: 0;
@inner-border-radius: 0;
@slider-border-radius: 13px;
@draghandle-border-radius: 0;
@default-icon-opacity: 1;
@header-background-color: @base;
@header-text-color: @normal-text-color;
@group-background-color: @base;
@group-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@content-background-color: @base;
@select-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@select-background-color: @base;
@select-group-background-color: @base;
@select-hover-background-color: @hover-background;
@hover-background-color: @hover-background;
@shadow-inset-color: transparent;
@input-text-color: @normal-text-color;
@link-text-color: @normal-text-color;
@cell-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@scheduler-background-color: @base;
@current-time-color: #e20000;
@tooltip-border-color: lighten(@hover-background, 1%);
@tooltip-text-color: #ffffff;
@draghandle-background-color: saturate(@hover-background, 1%);
@draghandle-hover-background-color: @accent;
@calendar-border-radius: 0;
@calendar-content-text-color: @normal-text-color;
@calendar-footer-background: @base;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @base;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background;
@calendar-footer-active-background: @base;
@calendar-group-background-color: @base;
@menu-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@tabstrip-items-border: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@tabstrip-tabs-color: @normal-text-color;
@form-widget-color: @normal-text-color;
@drop-down-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@drop-down-hover-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@drop-down-focused-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@drop-down-background: @base;
@drop-down-text-color: @normal-text-color;
@secondary-border-color: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@secondary-text-color: @normal-text-color;
@numeric-selected-background: @accent;
@panelbar-items-border: contrast(@base, lighten(@base, 14%), darken(@base, 14%), 0.5);
@panelbar-content-background: @base;
@panelbar-content-color: @normal-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @base;
@icon-background-color: transparent;
@input-validation-error: contrast(@base, lighten(@error, 15%), darken(@error, 20%), 0.5);

/* Kendo skin */

@theme-name: ~"metro";

@import "common/mixins.less";
@import "mixins/gradients.less";
@import "mixins/border-radius.less";
@import "themes/type.less";
@import "themes/button.less";

.k-in,
.k-item,
.k-window-action
{
    border-color: transparent;
}

/* main colors */
.k-splitbar .k-resize-handle {
    background-color: @normal-text-color;
}

.k-block,
.k-widget
{
    background-color: @widget-background-color;
}

.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover
{
    border-color: @widget-border-color;
}

.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-popup {
    background-color: @group-background-color;
}

.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner
{
    background-color: @header-background-color;
}

.k-list-container
{
    border-color: @group-border-color;
    background-color: @select-group-background-color;
}

.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles
{
    background-color: @content-background-color;
}

.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child,
.k-calendar .k-alt
{
    background-color: @alt-background-color;
}

.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt
{
    background-color: @nested-alt-background-color;
}

.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border-color: @widget-border-color;
    background-color: @select-background-color;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input
{
    border-color: @widget-border-color;
}

input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input
{
    background: none;
}

.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap
{
    background-color: @input-background-color;
    color: @input-text-color;
}

// Bootstrap readonly input styling has more specificity than ours.
.k-input[readonly]
{
    background-color: @input-background-color;
    color: @input-text-color;
}

.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input
{
    color: @widget-text-color;
}

.k-inverse
{
    color: @inverse-text-color;
}

.k-block
{
    color: @header-text-color;
}

.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link
{
    color: @link-text-color;
}

.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link
{
    color: @widget-text-color;
}

.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link
{
    color: @header-text-color;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @header-background-color;
}

.k-widget.k-tooltip
{
    background-image: @tooltip-texture;
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header
{
    background-color: @header-background-color;
}

.k-mediaplayer-toolbar {
    background: fade(@header-background-color, 85%);
}

.k-hr {
    border-color: @widget-border-color;
}

/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after
{
    opacity:1;
}

.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after
{
    opacity: @default-icon-opacity;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    opacity: @default-icon-opacity;
}

/* Badge */
.k-badge {
    background-color: @accent;
    color: contrast(@accent, @normal-background, @normal-text-color, 0.5);
    border-radius: @inner-border-radius;
}

.k-tool
{
    border-color: transparent;
}

/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    background-image: @sprite-image;
    border-color: transparent;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked {
  font-family: 'WebComponentsIcons';
  background-image: none;
}

.k-mobile-list .k-check:checked:before,
.k-mobile-list .k-edit-field [type=checkbox]:checked:before {
  content: "\e118";
}

.k-i-loading {
    background-image: url('@{image-folder}/loading.gif');
}

.k-loading-image { background-image: url('@{image-folder}/loading-image.gif'); }
.k-loading-color { background-color: @loading-panel-color; }

.k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

/* Scheduler */

.k-scheduler
{
    color: @event-text-color;
    background-color: @scheduler-background-color;
}

.k-scheduler-layout
{
    color: @widget-text-color;
}

.k-scheduler-datecolumn,
.k-scheduler-groupcolumn
{
    background-color: @scheduler-background-color;
    color: @widget-text-color;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times
{
    border-color: @cell-border-color;
}

.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn
{
    background-color: @column-highlight-background-color;
}

.k-scheduler-table .k-nonwork-hour
{
    background-color: @scheduler-nonwork-background-color;
}

.k-gantt .k-nonwork-hour
{
    background-color: rgba(0,0,0, .02);
}

.k-gantt .k-header.k-nonwork-hour
{
    background-color: rgba(0,0,0, .2);
}

.k-scheduler-now-arrow
{
    border-left-color: @current-time-color;
}

.k-scheduler-now-line
{
    background-color: @current-time-color;
}

.k-event,
.k-task-complete
{
    border-color: @event-background-color;
    background: @event-background-color 0 -257px @tooltip-texture repeat-x;
    color: @event-text-color;
}

.k-event-inverse {
    color: @event-inverse-text-color;
}

.k-event.k-state-selected
{
    background-position: 0 0;
    .box-shadow(0 0 0 2px @normal-text-color);
}

.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after
{
    background-color: @resize-background-color;
}

.k-scheduler-marquee:before,
.k-scheduler-marquee:after
{
    border-color: @selected-background-color;
}

.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item
{
    background-color: @panelbar-content-background;
    color: @panelbar-content-color;
    border-color: @secondary-border-color;
}

.k-panelbar > li > .k-link
{
    color: @panelbar-content-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @secondary-border-color;
}

.k-panel > li.k-item
{
    background-color: @panelbar-content-background;
}

/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
    background-color: @active-background-color;
    border-color: @active-border-color;
    color: @active-text-color;
}

.k-fieldselector .k-list-container
{
    background-color: @active-background-color;
}

.k-tabstrip-scrollable .k-button.k-bare:hover {
    background: @button-hover-background-color !important;
}

.k-menu .k-state-hover>.k-state-active
{
    background-color: transparent;
}

.k-mediaplayer-toolbar .k-button.k-bare {
    &:active,
    &.k-state-active,
    &.k-state-active:hover {
        color: @accent;
    }
}

.k-menu {
    .k-state-selected > .k-link {
        color: @selected-text-color;
        background-color: @selected-background-color;
        border-color: @selected-border-color;
        .composite-background(@selected-gradient);
    }

    .k-link.k-state-active {
        background-color: @active-background-color;
        border-color: @active-border-color;
        color: @active-text-color;
    }

    .k-state-hover > .k-link,
    .k-menu-scroll-button:hover {
        color: @hover-text-color;
        background-color: @hover-background-color;
        border-color: @hover-border-color;
        .composite-background(@hover-gradient);
    }
}

.k-state-highlight
{
    background: @active-background-color;
    color: @active-text-color;
}

.k-state-focused,
.k-grouping-row .k-state-focused
{
    border-color: @focused-border-color;
}




.k-calendar {
    .k-link {
        color: @calendar-content-text-color;
    }

    .k-footer {
        padding: 0;
    }

    .k-footer .k-nav-today {
        color: @form-widget-color;
        text-decoration: @calendar-footer-text-decoration;
        background-color: @calendar-footer-background;
    }

    .k-footer .k-nav-today:hover,
    .k-footer .k-nav-today.k-state-hover {
        background-color: @calendar-footer-hover-background;
        text-decoration: @calendar-footer-hover-text-decoration;
    }

    .k-footer .k-nav-today:active {
        background-color: @calendar-footer-active-background;
    }

    .k-link.k-nav-fast {
        color: @form-widget-color;
    }

    .k-nav-fast.k-state-hover {
        text-decoration: @calendar-header-hover-text-decoration;
        background-color: @calendar-header-hover-background;
        color: @hover-text-color;
    }

    .k-link.k-state-hover {
        border-radius: @calendar-border-radius;
    }

    .k-footer .k-link {
        border-radius: 0;
    }

    .k-today {
        box-shadow: inset 0 0 0 1px @hover-background-color;
    }

    th {
        background-color: @calendar-group-background-color;
    }

    td.k-state-hover.k-state-focused {
        box-shadow: inset 0 0 0 1px contrast(@base, darken(@hover-background, 10%), lighten(@hover-background, 86%), 0.5);
    }

    td.k-state-focused,
    .k-today.k-state-focused,
    .k-today:active,
    .k-today.k-state-selected:active {
        box-shadow: inset 0 0 0 1px contrast(@base, darken(@hover-background, 6%), lighten(@hover-background, 86%), 0.5);
    }

    td.k-state-focused.k-state-selected,
    td.k-state-selected.k-state-active,
    td.k-state-selected:active {
        box-shadow: inset 0 0 0 1px contrast(@base, darken(@hover-background, 25%), lighten(@hover-background, 86%), 0.5);
    }

    td.k-state-selected.k-state-hover {
        background-color: @hover-background-color;
    }
}

.k-calendar-container.k-group {
    border-color: @group-border-color;
}

.k-window-titlebar .k-link {
    border-radius: @calendar-border-radius;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list>.k-state-selected,
.k-list>.k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color
{
    color: @selected-text-color;
    background-color: @selected-background-color;
    border-color: @selected-border-color;
}

.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first
{
    border-top-color: @hover-border-color;
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    border-top-color: @hover-border-color;
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header
{
    background: @hover-border-color;
    color: @selected-text-color;
}

.k-popup .k-list .k-item > .k-group
{
    background: @hover-border-color;
    color: @selected-text-color;
    border-bottom-left-radius: @inner-border-radius;
}

.k-marquee-text
{
    color: @selected-text-color;
}

.k-state-focused,
.k-list>.k-state-focused,
.k-listview>.k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused
{
    .box-shadow(@focused-item-shadow);
}

.k-state-focused.k-state-selected,
.k-list>.k-state-focused.k-state-selected,
.k-listview>.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-list-optionlabel.k-state-selected.k-state-focused
{
    .box-shadow(none);
}

.k-state-selected>.k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar>li.k-state-default>.k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list>.k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-pager-wrap .k-link.k-state-disabled {
    color: @normal-text-color;
    border-color: @widget-border-color;
}

/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-state-hover > .k-select,
.k-state-focused > .k-select
{
    border-color: @hover-border-color;
}

.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-split-button:focus,
.k-listbox .k-item:hover:not(.k-state-disabled)
{
    .composite-background(@hover-gradient);
}

.k-pager-wrap
{
    background-color: @header-background-color;
    color: @header-text-color;
}

.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active>.k-link,
.k-panelbar>.k-item>.k-state-focused
{
    .composite-background(@active-gradient);
}

.k-state-selected,
.k-draghandle.k-state-selected:hover
{
    .composite-background(@selected-gradient);
}

.k-draghandle.k-state-selected:hover
{
    background-position: 50% 50%;
}

.k-state-hover>.k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em
{
    color: @hover-text-color;
}

.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @select-border-color;
}

.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea
{
    color: @widget-text-color;
}

.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu {
    .k-space-right {
        background: @background;
        border-color: @widget-border-color;

        > input {
            background-color: @input-background-color;
            border-color: @drop-down-border-color;
        }

        > input:focus {
            border-color: @hover-border-color;
        }
    }
}

.k-dropdown .k-state-hover .k-input,
.k-dropdown .k-state-focused .k-input
{
    color: @hover-text-color;
}

.k-state-error
{
    border-color: @error-border-color;
    background-color: @error-background-color;
    color: @error-text-color;
}

.k-state-disabled
{
    opacity:.7;
}

.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle
{
    color: @disabled-text-color;
}

.k-dropzone .k-upload-status
{
    color: @normal-text-color;
}
.k-file .k-upload-status {
    color: @normal-text-color;
}

.k-upload-status .k-button:hover .k-i-delete,
.k-upload-status .k-button:hover .k-i-delete {
    background-color: @accent;
}

/* Progressbar */

.k-progressbar-indeterminate
{
    background: url('@{image-folder}/indeterminate.gif');
}

.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected
{
    display: none;
}

.k-progressbar-horizontal > .k-state-selected,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected,
.k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected,
.k-rtl .k-progressbar-horizontal > .k-state-selected,
.k-progressbar-vertical > .k-state-selected,
.k-progressbar-vertical.k-progressbar-reverse > .k-state-selected,
.k-progressbar > .k-state-selected.k-complete,
.k-rtl .k-progressbar > .k-state-selected.k-complete,
.k-progressbar-horizontal .k-first,
.k-rtl .k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal.k-progressbar-reverse .k-last,
.k-progressbar-horizontal .k-last,
.k-rtl .k-progressbar-horizontal .k-first,
.k-progressbar-vertical .k-first,
.k-progressbar-vertical .k-last
{
    border-radius: 0;
}

/* Slider */
.k-slider-track
{
    background-color: @widget-border-color;
}

.k-slider-selection
{
    background-color: @selected-background-color;
}

.k-slider-horizontal .k-tick
{
    background-image:url('@{image-folder}/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('@{image-folder}/slider-v.gif');
}

/* Tooltip */
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip
{
    border-color: @tooltip-border-color;
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
}

.k-widget.k-tooltip-validation
{
    border-color: @validation-border-color;
    background-color: @validation-background-color;
    color: @validation-text-color;
}

/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation
{
    font-size: 12px;
    position: relative;
    top: 3px;
}

.k-callout-n
{
    border-bottom-color: @tooltip-border-color;
}

.k-callout-w
{
    border-right-color: @tooltip-border-color;
}

.k-callout-s
{
    border-top-color: @tooltip-border-color;
}

.k-callout-e
{
    border-left-color: @tooltip-border-color;
}

.k-tooltip-validation .k-callout-n
{
    border-bottom-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-w
{
    border-right-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-s
{
    border-top-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-e
{
    border-left-color: @validation-border-color;
}

/* Splitter */
.k-splitbar
{
    background-color: @splitbar-background-color;
}

.k-restricted-size-vertical,
.k-restricted-size-horizontal
{
    background-color: @error-text-color;
}

/* Upload */

.k-file
{
    border-color: @cell-border-color;
}

.k-file-progress
{
    color: @upload-progress-text-color;
}

.k-file-progress .k-progress
{
    background-color: @upload-progress-background-color;
}

.k-file-success .k-file-name,
.k-file-success .k-upload-pct
{
    color: @upload-success-text-color;
}

.k-file-success .k-progress
{
    background-color: @upload-success-background-color;
}

.k-file-error
{
    color: @upload-error-text-color;

    .k-file-extension-wrapper,
    .k-multiple-files-extension-wrapper {
        color: @upload-error-text-color;
        border-color: @upload-error-text-color;

        &:before {
            border-color: transparent transparent @upload-error-text-color @upload-error-text-color;
        }
    }
}

.k-file-error .k-progress
{
    background-color: @upload-error-background-color;
}

.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
    color: @disabled-text-color;
    border-color: @disabled-text-color;
}

.k-file-invalid .k-file-name-invalid {
    color: @upload-error-text-color;
}

.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
    color: @upload-error-text-color;
    border-color: @upload-invalid-color;
}

.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
    background-color: @base;
    border-color: transparent transparent @disabled-text-color @disabled-text-color;
}

.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
    background-color: @widget-background-color;
    border-color: transparent transparent @upload-invalid-color @upload-invalid-color;
}

.k-multiple-files-extension-wrapper:after {
    border-top-color: @disabled-text-color;
    border-left-color: @disabled-text-color;
}

.k-multiple-files-invalid-extension-wrapper:after {
    border-top-color: @upload-invalid-color;
    border-left-color: @upload-invalid-color;
}

.k-file-size,
.k-file-information,
.k-file-validation-message {
    color: @disabled-text-color;
}

.k-upload .k-upload-selected {
    color: @accent;
    border-color: @widget-border-color;

    &:hover {
        color: @button-hover-text-color;
    }
}

/* ImageBrowser */

.k-tile
{
    border-color: @content-background-color;
}

.k-textbox:hover,
.k-tiles li.k-state-hover
{
    border-color: @hover-border-color;
}

.k-tiles li.k-state-selected
{
    border-color: @selected-border-color;
}

/* TreeMap */

.k-leaf,
.k-leaf.k-state-hover:hover
{
    color: #fff;
}

.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover
{
    color: #000;
}

/* Shadows */
.k-widget
{
    .box-shadow(@widget-shadow);
}

.k-slider,
.k-treeview,
.k-upload
{
    .box-shadow(none);
}

.k-state-hover
{
    .box-shadow(@hover-shadow);
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused
{
    .box-shadow(@focused-shadow);
}

.k-state-selected
{
    .box-shadow(@selected-shadow);
}

.k-state-active
{
    .box-shadow(@active-shadow);
}

.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(0 2px 2px 0 @shadow-color);
}

.k-treemap-tile.k-state-hover
{
    .box-shadow(inset 0 0 0 3px @widget-border-color);
}

/* Window */

.k-window
{
    .window-shadow(@shadow-color);
    background-color: @widget-background-color;
}

.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content
{
    border-radius: 0;
}

.k-shadow
{
    .box-shadow(0 1px 2px 0 @shadow-color);
}

.k-inset
{
    .box-shadow(inset 0 1px 1px @shadow-color);
}

/* Selection */
.k-editor-inline {
    .selection(@selected-border-color);
}

// Notification
@import "themes/notification.less";

/* Gantt */

.k-gantt .k-treelist
{
    background: @alt-background-color;
}

.k-gantt .k-treelist .k-alt
{
    background-color: darken(@alt-background-color, 10%);
}

.k-gantt .k-treelist tr:hover {
    background-color: @hover-background;
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td
{
    background-color: @selected-background-color;
}

.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td
{
    background-color: @hover-background;
}

.k-task-dot:after
{
    background-color: @widget-text-color;
    border-color: @widget-text-color;
}

.k-task-dot:hover:after
{
    background-color: @active-background-color;
}

.k-task-summary
{
    border-color: @task-summary-color;
    background: @task-summary-color;
}

.k-task-milestone,
.k-task-summary-complete
{
    border-color: @widget-text-color;
    background: @widget-text-color;
}

.k-state-selected.k-task-summary
{
    border-color: @task-summary-selected-color;
    background: @task-summary-selected-color;
}

.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete
{
    border-color: @selected-background-color;
    background: @selected-background-color;
}

.k-task-single
{
    background-color: lighten(@event-background-color, 7%);
    border-color: @event-background-color;
    color: @event-text-color;
}

.k-state-selected.k-task-single
{
    border-color: @selected-border-color;
}

.k-line
{
    background-color: @widget-text-color;
    color: @widget-text-color;
}

.k-state-selected.k-line
{
    background-color: @selected-background-color;
    color: @selected-background-color;
}

.k-resource
{
    background-color: @widget-background-color;
}

/* Border radius */
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload
{
    border-radius: @border-radius;
}

.k-tool {
    text-align: center;
    vertical-align: middle;
}

.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-group-start.k-group-end.k-tool
{
    border-radius: @border-radius;
}

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu
{
    border-radius: 0 0 @border-radius @border-radius;
}

.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input
{
    border-radius: 0 0 0 @border-radius;
}

.k-multiselect.k-state-border-up .k-multiselect-wrap
{
    border-radius: 0 0 @border-radius @border-radius;
}

.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down
{
    border-radius: @border-radius @border-radius 0 0;
}

.k-split-button.k-state-border-down > .k-button
{
    border-radius: @border-radius 0 0 0;
}

.k-split-button.k-state-border-up > .k-button
{
    border-radius: 0 0 0 @border-radius;
}

.k-split-button.k-state-border-down > .k-split-button-arrow
{
    border-radius: 0 @border-radius 0 0;
}

.k-split-button.k-state-border-up > .k-split-button-arrow
{
    border-radius: 0 0 @border-radius 0;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-numeric-wrap .k-link
{
    border-radius: 0 @inner-border-radius 0 0;
}

.k-numeric-wrap .k-link + .k-link
{
    border-radius: 0 0 @inner-border-radius 0;
}

.k-colorpicker .k-selected-color
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-colorpicker .k-selected-color
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-autocomplete.k-state-border-down .k-input
{
    border-radius: @border-radius @border-radius 0 0;
}

.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input
{
    border-radius: @border-radius 0 0 0;
}

.k-numeric-wrap .k-link.k-state-selected
{
    background-color: @numeric-selected-background;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap
{
    border-radius: @inner-border-radius @inner-border-radius 0 0;
}

.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select+.k-select,
.k-list-container.k-state-border-right
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-autocomplete > .k-i-close,
.k-combobox > .k-dropdown-wrap > .k-i-close,
.k-multiselect > .k-multiselect-wrap > .k-i-close {
    border-radius: 50%;
    background-color: @widget-border-color;
}

.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select+.k-select,
.k-rtl .k-list-container.k-state-border-right
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-numeric-wrap.k-expand-padding .k-input
{
    .guarded-border-radius(@border-radius);
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap
{
    .guarded-border-radius(@inner-border-radius);
}

.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item
{
    .guarded-border-radius(@list-border-radius);
}

.k-slider .k-button,
.k-grid .k-slider .k-button
{
    border-radius: @slider-border-radius;
}

.k-draghandle
{
    border-radius: @draghandle-border-radius;
}

.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation
{
    border-radius: @border-radius;
}

.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link
{
    border-radius: @border-radius;
}

.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link
{
    border-radius: @inner-border-radius;
}

.k-scheduler-mobile .k-event
{
    border-radius: (@inner-border-radius - 1);
}

/* Adaptive Grid */

.k-grid-mobile .k-column-active + th.k-header
{
    border-left-color: @widget-text-color;
}

html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field
{
    color: @widget-text-color;
}

@media screen and (-ms-high-contrast: active)
              and (-ms-high-contrast: none) {
    div.km-pane-wrapper a
    {
        color: @widget-text-color;
    }
}

.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check
{
    background-color: @widget-background-color;
    border-top: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field textarea
{
    outline-width: 0;
}

.km-pane-wrapper .k-mobile-list .k-item.k-state-selected
{
    background-color: @selected-background-color;
    border-top-color: @selected-border-color;
}

.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child
{
    border-top-color: transparent;
}

.km-pane-wrapper .k-mobile-list .k-item:last-child
{
    .box-shadow(inset 0 -1px 0 @cell-border-color);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child
{
    color: @header-text-color;
    opacity: 0.7;
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link
{
    border-bottom: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field
{
    .box-shadow(0 1px 1px @cell-border-color);
}

.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]
{
    color: #fff;
    border-color: @error-border-color;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.15));
}

.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active
{
    background-color: darken(red, 20);
}

/* /Column Menu */

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

.k-multiselect.k-header
{
    border-color: @drop-down-border-color;
}

.k-multiselect.k-header.k-state-hover
{
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-list-container
{
    color: @drop-down-text-color;
}

.k-nodata {
    color: @disabled-text-color;
}

.k-dropdown .k-input,
.k-menu .k-popup,
.k-multiselect .k-button,
.k-multiselect .k-button:hover
{
    color: @drop-down-text-color;
}

.k-state-default > .k-select
{
    border-color: @drop-down-border-color;
}

.k-state-hover > .k-select
{
    border-color: @drop-down-hover-border-color;
}

.k-state-focused > .k-select
{
    border-color: @drop-down-focused-border-color;
}

.k-tabstrip:focus
{
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link
{
    color: @tabstrip-tabs-color;
}

.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li > .k-link.k-state-hover,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar>li.k-state-default>.k-link.k-state-hover
{
    color: @hover-text-color;
}

.k-panelbar .k-state-focused.k-state-hover
{
    background: @hover-background-color;
    .box-shadow(none);
}

.k-tabstrip-items .k-state-default
{
    border-color: @tabstrip-items-border;
}

.k-tabstrip-items .k-state-hover
{
    border-color: @hover-border-color;
}

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active
{
    background-color: @active-background-color;
    .composite-background(@active-gradient);
    border-color: @active-border-color;
}

.k-tabstrip-top > .k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-top > .k-tabstrip-items .k-state-active {
    border-bottom-color: @active-background-color;
}

.k-tabstrip .k-content.k-state-active
{
    background-color: @tabstrip-active-background;
    color: @widget-text-color;
}

.k-menu.k-header,
.k-menu .k-item
{
    border-color: @menu-border-color;
}

.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group
{
    border-color: @secondary-border-color;
}

.k-overflow-container .k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%), 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group
{
    box-shadow: 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-last-visible.k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar .k-button.k-state-disabled:focus {
    border-color: @button-focused-border-color;
    .box-shadow(@button-focused-shadow);
}

.k-column-menu .k-separator
{
    border-color: @secondary-border-color;
    background-color: transparent;
}

.k-menu .k-group
{
    border-color: @group-border-color;
}

.k-grid-filter.k-state-active
{
    background-color: @active-filter-background-color;
}

.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td
{
    color: @secondary-text-color;
    border-color: @secondary-border-color;
    font-weight: bold;
}

.k-grouping-header
{
    color: @secondary-text-color;
}

.k-grid tr:hover,
.k-grid td.k-state-selected:hover {
    color: @hover-text-color;
    background-color: @hover-background;
}

.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
    color: @widget-text-color;
    background: none;
}

.k-grid td.k-state-focused {
    box-shadow: inset 0 0 0 1px contrast(@base, darken(@hover-background, 6%), lighten(@hover-background, 86%), 0.5);
}

.k-grid tr:hover .k-state-focused,
.k-grid tr .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected td.k-state-focused,
.k-grid tr:hover .k-state-focused.k-state-selected,
.k-grid tr.k-state-selected:hover td.k-state-focused {
    box-shadow: inset 0 0 0 1px contrast(@base, darken(@hover-background, 25%), lighten(@hover-background, 86%), 0.5);
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default
{
    border-color: @secondary-border-color;
}

// Fix for responsive design
.k-pager-numbers .k-link,
.k-treeview .k-in
{
    border-color: transparent;
}

.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon
{
    background-color: @icon-background-color;
    border-radius: @calendar-border-radius;
}

.k-scheduler-table .k-state-hover .k-icon
{
    background-color: transparent;
}

.k-split-button:focus {
    outline:none;
}

.k-split-button:focus {
    .box-shadow(@button-focused-shadow);
}

.k-split-button:focus > .k-button {
    background: transparent;
    border-color: @button-focused-border-color;
}

.k-editor .k-tool:focus
{
   outline: 0;
   border-color: @button-focused-border-color;
   .box-shadow(@button-focused-shadow);
}

@import "themes/checkbox.less";

@checkbox-border-color: contrast(@base, lighten(@base, 28%), darken(@base, 14%), 0.5);
@checkbox-border-radius: 0;
@checkbox-background-color: @base;
@checkbox-hover-border-color: @hover-background;
@checkbox-checked-border-color: contrast(@base, lighten(@base, 28%), darken(@base, 14%), 0.5);
@checkbox-checked-background-color: @base;
@checkbox-checked-color: @hover-background;
@checkbox-active-border-color: @hover-background;
@checkbox-active-box-shadow: none;
@checkbox-disabled-background-color: @base;
@checkbox-disabled-color: contrast(@base, lighten(@base, 30%), darken(@base, 30%), 0.5);
@checkbox-disabled-border-color: contrast(@base, lighten(@base, 10%), darken(@base, 10%), 0.5);

@import "themes/radiobutton.less";

@radio-border-color: contrast(@base, lighten(@base, 28%), darken(@base, 14%), 0.5);
@radio-hover-border-color: @hover-background;
@radio-checked-background-color: @hover-background;
@radio-active-border-color: @hover-background;
@radio-active-box-shadow: none;
@radio-disabled-color: contrast(@base, lighten(@base, 30%), darken(@base, 30%), 0.5);
@radio-disabled-border-color: contrast(@base, lighten(@base, 10%), darken(@base, 10%), 0.5);


// High contrast mode
@media screen and (-ms-high-contrast: active) {
    .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
    .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
        border-color: #fff;
    }
}

/* Responsive styles */

@media only screen and (max-width: 1024px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {

        .km-pane-wrapper .k-pager-numbers,
        .km-pane-wrapper .k-grid .k-pager-numbers {
            transform: translate(-50%, 0%);
            -webkit-transform: translate(-50%, 0%);
        }

        .km-pane-wrapper .k-pager-numbers.k-state-expanded,
        .km-pane-wrapper .k-grid .k-pager-numbers.k-state-expanded {
            transform: translate(-50%, -100%);
            -webkit-transform: translate(-50%, -100%);
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
        .k-pager-numbers .k-current-page .k-link
        {
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: @drop-down-background;
            border-color: @widget-border-color;
        }

        .k-pager-numbers .k-current-page .k-link
        {
            border-color: @secondary-border-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view
        {
            border-radius: @border-radius;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view
        {
            border-radius: @inner-border-radius @inner-border-radius 0 0;
        }

        .k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views li,
        .k-scheduler-toolbar > ul.k-scheduler-views li .k-link
        {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link
        {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }

        .k-pager-numbers .k-current-page .k-link:hover,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover
        {
            border-color: @hover-border-color;
            .composite-background(@hover-gradient);
            background-color: @hover-background-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link
        {
            color: @widget-text-color;
            min-width: 75px;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link
        {
            color: @hover-text-color;
        }

        .k-pager-numbers .k-current-page .k-link:after,
        .k-scheduler-views > li.k-state-selected > .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.333em;
            width: 1.333em;
            height: 1.333em;
        }

        .k-pager-numbers.k-state-expanded,
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @secondary-border-color;
            background-color: @header-background-color;
            border-radius: @border-radius @border-radius 0 0;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px;
            background-image: none;
            border-radius: @border-radius;
        }

        .k-pager-numbers .k-state-selected,
        .k-pager-numbers .k-link
        {
            .guarded-border-radius(@list-border-radius);
        }

        .k-widget.k-grid .k-pager-nav + .k-pager-numbers
        {
            position: absolute;
        }
    }
}
/* Metro Theme */

.k-chart .k-mask {
    background-color: @normal-background;
    filter: alpha(opacity=70);
    opacity: 0.70;
}

.k-chart .k-selection {
    border-color: #c7c7c7;
    box-shadow: inset 0 1px 12px rgba(0,0,0,.05);
    transition: box-shadow .2s linear, border-color .2s linear;
}

.k-chart .k-selection:hover {
    border-color: @hover-background;
    box-shadow: inset 0 0 20px fadeout(@hover-background, 50%);
}

.k-chart .k-handle {
    background-color: #c7c7c7;
    width: 1px;
}

.k-chart .k-handle:hover {
    background-color: @hover-background;
    width: 3px;
    border-radius: @border-radius;
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    background: @hover-background;
    color: #ffffff;
    border-radius: @border-radius;
}

.k-chart .k-navigator-hint .k-scroll {
    background: fadeout(@hover-background, 50%);
    height: 4px;
    border-radius: @border-radius;
}

.k-chart .k-tooltip,
.k-sparkline .k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip {
    background-image: none;
    border-radius: @border-radius;
}

/* Map */

.k-map .k-marker {
    font-size: 28px;
    color: @accent;
}

.k-calendar .k-link:not(.k-state-disabled):hover > .k-i-arrow-60-left {
    background-position: 0 -48px;
}

.k-calendar .k-link:not(.k-state-disabled):hover > .k-i-arrow-60-right {
    background-position: 0 -16px;
}

@import "themes/spreadsheet.less";

@spreadsheet-page-orientation-border-color: @button-border-color;

/* Dialog */

.k-dialog {
    border-color: @widget-border-color;
    .k-window-titlebar {
        border-bottom-width: 0;
    }
    .k-dialog-title {
        color: @active-text-color;
    }
    .k-dialog-buttongroup {
        &.k-dialog-button-layout-stretched {
            .k-button {
                padding: 12px;
            }
        }
        &.k-dialog-button-layout-normal {
            .k-button {
                border-radius: @border-radius;
            }
        }
    }
}
.k-rtl .k-dialog {
    a.k-dialog-action.k-dialog-close {
        top: 1em;
        left: .5em;
    }
    .k-dialog-buttongroup {
        &.k-dialog-button-layout-stretched {
            .k-button:first-child {
                border-right-width: 0;
                border-left-width: 1px;
            }
            .k-button:last-child {
                border-left-width: 0;
                border-right-width: 1px;
            }
        }
        &.k-dialog-button-layout-normal {
            text-align: right;
            .k-button {
                margin-right: 0;
                margin-left: 0.5em;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.k-numeric-wrap .k-i-warning {
    color: @input-validation-error;
    position: absolute;
    top: 0;
    right: 1.9em;
    width: 1.9em;
}

.k-numeric-wrap.k-state-invalid {
    border-color: @input-validation-error;

    input {
        color: @input-validation-error;
    }
}

.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
    right: auto;
    left: 1.9em;
}

.k-maskedtextbox.k-state-invalid {
    .k-textbox {
        border-color: @input-validation-error;
        color: @input-validation-error;
    }

    .k-i-warning {
        color: @input-validation-error;
    }
}

.k-dateinput.k-state-invalid {
    .k-textbox {
        color: @input-validation-error;
        border-color: @input-validation-error;
    }

    .k-i-warning {
        margin-left: 0;
        margin-right: 0.6em;
        color: @input-validation-error;
    }
}

.k-rtl .k-dateinput .k-i-warning {
    margin-right: 0;
    margin-left: 0.6em;
}

.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap {
    &.k-state-invalid {
        border-color: @input-validation-error;

        .k-input {
            color: @input-validation-error;
        }
    }

    .k-i-warning {
        color: @input-validation-error;
        margin-left:0;
        margin-right: 2.1em;
    }
    .k-rtl & {
        .k-i-warning {
            margin-right: 0;
            margin-left: 2.1em;
        }
    }
}

.k-datetimepicker .k-picker-wrap {
    &.k-state-invalid {
        border-color: @input-validation-error;

        .k-input {
            color: @input-validation-error;
        }
    }

    .k-i-warning {
        color: @input-validation-error;
        margin-left:0;
        margin-right: 4.3em;
    }

    .k-rtl & {
        .k-icon.k-i-warning {
            margin-right: 0;
            margin-left: 4.3em;
        }
    }
}

.k-listbox {
    .k-list-scroller {
        padding: 2px;
        border-color: @widget-border-color;
        background-color: @input-background-color;
    }

    .k-item:hover:not(.k-state-disabled) {
        color: @hover-text-color;
        background-color: @hover-background-color;
        border-color: transparent;
    }

    .k-drop-hint {
        height: 0;
        border-top: 1px solid @accent;
    }
}

.k-grid-header {
    .k-i-sort-asc-sm,
    .k-i-sort-desc-sm,
    .k-sort-order {
        color: @accent;
    }
}