/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
// Widget
@widget-background-color: @background;
@widget-text-color: @normal-text-color;
@widget-border-color: darken(@background, 21%);
@widget-gradient: false;
@widget-shadow: false;
// Button
@button-text-color: contrast(@button-background-color);
@button-background-color: @hover-background;
@button-border-color: @button-background-color;
@button-gradient: false;
@button-shadow: false;
@button-hover-text-color: contrast(@button-hover-background-color);
@button-hover-background-color: darken(@hover-background, 4%);
@button-hover-border-color: @button-hover-background-color;
@button-hover-gradient: false;
@button-hover-shadow: false;
@button-active-background: @base;
@button-active-text-color: contrast(@button-active-background);
@button-active-border-color: @button-active-background;
@button-active-gradient: false;
@button-active-shadow: false;
@button-focused-border-color: @base;
@button-focused-shadow: false;
@button-focused-active-shadow: false;
// Primary button
@primary-text-color: contrast(@primary-background-color);
@primary-background-color: @base;
@primary-border-color: @primary-background-color;
@primary-gradient: false;
@primary-shadow: false;
@primary-hover-text-color: contrast(@primary-hover-background-color);
@primary-hover-background-color: darken(@primary-background-color, 8%);
@primary-hover-border-color: @primary-hover-background-color;
@primary-hover-gradient: false;
@primary-hover-shadow: false;
@primary-active-text-color: contrast(@primary-active-background-color);
@primary-active-background-color: darken(@primary-background-color, 13%);
@primary-active-border-color: @primary-active-background-color;
@primary-active-gradient: false;
@primary-active-shadow: false;
@primary-focused-border-color: darken(@primary-active-background-color, 15%);
@primary-focused-shadow: false;
@primary-focused-active-shadow: false;
@primary-disabled-text-color: lighten(@normal-text-color, 29%);
@primary-disabled-background-color: darken(@hover-background, 6%);
@primary-disabled-border-color: darken(@hover-background, 6%);
@primary-disabled-gradient: false;
@sprite-image: url('@{image-folder}/sprite.png');
@tooltip-texture: none;
@inverse-text-color: @background;
@input-background-color: @background;
@input-text-color: @normal-text-color;
@link-text-color: @base;
@header-text-color: @normal-text-color;
@header-background-color: @background;
@group-background-color: @background;
@group-border-color: darken(@background, 21%);
@content-background-color: @background;
@hover-background-color: @hover-background;
@hover-border-color: darken(@background, 44%);
@hover-shadow: none;
@select-background-color: @base;
@select-border-color: @base;
@select-hover-background-color: darken(@hover-background, 4%);
@select-group-background-color: @background;
@selected-background-color: @accent;
@selected-border-color: @accent;
@selected-shadow: none;
@focused-border-color: @base;
@focused-shadow: none;
@focused-item-shadow: none;
@focused-active-item-shadow: none;
@active-text-color: @normal-text-color;
@active-gradient: none;
@active-background-color: @background;
@active-border-color: @base;
@active-shadow: none;
@error-text-color: lighten(@normal-text-color, 22%);
@error-background-color: lighten(@error, 2%);
@error-border-color: darken(@background, 14%);
@disabled-text-color: darken(@hover-background, 31%);
@notification-info-background-color: lighten(@info, 39%);
@notification-info-text-color: lighten(@normal-text-color, 10%);
@notification-info-border-color: @notification-info-background-color;
@notification-success-background-color: lighten(@success, 41%);
@notification-success-text-color: lighten(@normal-text-color, 10%);
@notification-success-border-color: @notification-success-background-color;
@notification-warning-background-color: @warning;
@notification-warning-text-color: lighten(@normal-text-color, 10%);
@notification-warning-border-color: @warning;
@notification-error-background-color: lighten(@error, 30%);
@notification-error-text-color: lighten(@normal-text-color, 10%);
@notification-error-border-color: @notification-error-background-color;
@tooltip-text-color: @normal-text-color;
@tooltip-background-color: @background;
@tooltip-border-color: darken(@background, 21%);
@validation-text-color: contrast(@validation-background-color, lighten(@warning, 80%), darken(@warning, 60%), 0.5);
@validation-background-color: @warning;
@validation-border-color: @warning;
@splitbar-background-color: @hover-background;
@draghandle-border-radius: @border-radius;
@draghandle-border-color: @base;
@draghandle-background-color: @base;
@draghandle-shadow: none;
@draghandle-hover-border-color: @base;
@draghandle-hover-background-color: @base;
@draghandle-hover-shadow: none;
@alt-background-color: @background;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: darken(@background, 21%);
@column-highlight-background-color: darken(@background, 3%);
@active-filter-background-color: @background;
@scheduler-background-color: @background;
@current-time-color: darken(@background, 14%);
@event-background-color: lighten(@base, 28%);
@event-text-color: @normal-text-color;
@event-inverse-text-color: @normal-text-color;
@scheduler-nonwork-background-color: @background;
@resize-background-color: @background;
@upload-progress-background-color: @info;
@upload-progress-text-color: @normal-text-color;
@upload-success-background-color: @success;
@upload-success-text-color: @success;
@upload-error-background-color: @error;
@upload-error-text-color: @error;
@task-summary-color: darken(@background, 18%);
@task-summary-selected-color: @hover-text-color;
@loading-panel-color: @background;
@shadow-color: rgba(0, 0, 0, .18);
@shadow-inset-color: darken(@background, 20%);
@list-border-radius: @border-radius;
@inner-border-radius: @border-radius;
@slider-border-radius: @border-radius;
@default-icon-opacity: .6;
@calendar-border-radius: @border-radius;
@calendar-content-text-color: @normal-text-color;
@calendar-footer-background: @background;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @background;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background;
@calendar-footer-active-background: @background;
@calendar-group-background-color: @background;
@menu-border-color: @background;
@tabstrip-items-border: transparent;
@tabstrip-active-background: @background;
@tabstrip-tabs-color: @normal-text-color;
@form-widget-color: @normal-text-color;
@drop-down-border-color: darken(@background, 27%);
@drop-down-hover-border-color: darken(@hover-background, 41%);
@drop-down-focused-border-color: @base;
@drop-down-background: @background;
@drop-down-text-color: @normal-text-color;
@secondary-border-color: darken(@background, 21%);
@secondary-text-color: @normal-text-color;
@numeric-selected-background: @base;
@panelbar-items-border: darken(@background, 21%);
@panelbar-content-background: @background;
@panelbar-content-color: @normal-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @background;
@icon-background-color: transparent;
@disabled-background-color: @hover-background;
@disabled-border-color: @hover-background;
@disabled-gradient: none;
@treeview-text-color: @normal-text-color;
@treeview-hover-text-color: @normal-text-color;
@tabstrip-tabs-hover-color: @normal-text-color;
@pager-hover-color: @hover-text-color;
@slider-selection-background-color: @base;
@form-widgets-border-color: darken(@background, 27%);
@pager-text-color: @normal-text-color;
@draghandle-selected-background: @base;
@upload-status-color: darken(@error, 11%);
@form-widgets-shadow: none;
@menu-active-background: @accent;
@concave-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
@secondary-background-color: lighten(@hover-background, 2%);
@secondary-hover-background-color: lighten(@normal-text-color, 24%);
@secondary-header-color: rgba(256, 256, 256, 0.5);
@secondary-header-background-color: darken(@base, 13%);
@accent-color: lighten(@base, 17%);
@input-validation-error: @error;

/* Kendo skin */

@theme-name: ~"office365";

@import "common/mixins.less";
@import "mixins/gradients.less";
@import "mixins/border-radius.less";
@import "themes/type.less";
@import "themes/button.less";

.k-in,
.k-item,
.k-window-action
{
    border-color: transparent;
}

/* main colors */
.k-splitbar .k-resize-handle {
    background-color: @normal-text-color;
}

.k-block,
.k-widget
{
    background-color: @widget-background-color;
}

.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-editor-dialog .k-tabstrip-items,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover
{
    border-color: @widget-border-color;
}

.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-popup {
    background-color: @group-background-color;
}

.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner
{
    background-color: @header-background-color;
}

.k-list-container
{
    border-color: @group-border-color;
    background-color: @select-group-background-color;
}

.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles
{
    background-color: @content-background-color;
}

.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child
{
    background-color: @alt-background-color;
}

.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt,
.k-calendar .k-alt,
.k-calendar .k-alt:active
{
    background-color: @nested-alt-background-color;
}

.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border-color: @widget-border-color;
    background-color: @select-background-color;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input
{
    border-color: @widget-border-color;
}

input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input
{
    background: none;
}

.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap
{
    background-color: @input-background-color;
    color: @input-text-color;
}

// Bootstrap readonly input styling has more specificity than ours.
.k-input[readonly]
{
    background-color: @input-background-color;
    color: @input-text-color;
}

.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input
{
    color: @widget-text-color;
}

.k-inverse
{
    color: @inverse-text-color;
}

.k-block
{
    color: @header-text-color;
}

.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link
{
    color: @link-text-color;
}

.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link
{
    color: @widget-text-color;
}

.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link
{
    color: @header-text-color;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @header-background-color;
}

.k-widget.k-tooltip
{
    background-image: @tooltip-texture;
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
    background-color: @header-background-color;
}

.k-mediaplayer-toolbar {
    background: fade(@header-background-color, 85%);
}

.k-hr {
    border-color: @widget-border-color;
}

/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after
{
    opacity:1;
}

.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after
{
    opacity: @default-icon-opacity;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    opacity: @default-icon-opacity;
}

/* Badge */
.k-badge {
    background-color: @accent;
    color: contrast(@accent, @normal-background, @normal-text-color, 0.5);
    border-radius: @inner-border-radius;
}

.k-tool
{
    border-color: transparent;
}

/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    background-image: @sprite-image;
    border-color: transparent;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked {
  font-family: 'WebComponentsIcons';
  background-image: none;
}

.k-mobile-list .k-check:checked:before,
.k-mobile-list .k-edit-field [type=checkbox]:checked:before {
  content: "\e118";
}

.k-i-loading {
    background-image: url('@{image-folder}/loading.gif');
}

.k-loading-image { background-image: url('@{image-folder}/loading-image.gif'); }
.k-loading-color { background-color: @loading-panel-color; }

.k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

/* Scheduler */

.k-scheduler
{
    color: @event-text-color;
    background-color: @scheduler-background-color;
}

.k-scheduler-layout
{
    color: @widget-text-color;
}

.k-scheduler-datecolumn,
.k-scheduler-groupcolumn
{
    background-color: @scheduler-background-color;
    color: @widget-text-color;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times
{
    border-color: @cell-border-color;
}

.k-nonwork-hour
{
    background-color: @scheduler-nonwork-background-color;
}

.k-gantt .k-nonwork-hour
{
    background-color: rgba(0,0,0, .02);
}

.k-gantt .k-header.k-nonwork-hour
{
    background-color: rgba(0,0,0, .2);
}

.k-scheduler-monthview .k-today {
    background-color: @column-highlight-background-color;
}
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn
{
    color: @select-border-color;
}

.k-scheduler-weekview,
.k-scheduler-workWeekview {

    .k-scheduler-header th.k-today {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            border-bottom: 3px solid @select-border-color;
        }
    }
}

.k-scheduler-monthview .k-today {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        border-top: 3px solid @select-border-color;
    }
}

.k-scheduler-now-arrow
{
    border-left-color: @current-time-color;
}

.k-scheduler-now-line
{
    background-color: @current-time-color;
}

.k-event,
.k-task-complete
{
    border-color: @event-background-color;
    background: @event-background-color 0 -257px @tooltip-texture repeat-x;
    color: @event-text-color;
}

.k-event-inverse {
    color: @event-inverse-text-color;
}

.k-scheduler-content .k-event.k-state-selected
{
    background-position: 0 0;
    box-shadow: 0 0 0 2px @normal-text-color, inset 4px 0 0 0 rgba(255, 255, 255, .5);
}

.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after
{
    background-color: @resize-background-color;
}

.k-scheduler-marquee:before,
.k-scheduler-marquee:after
{
    border-color: @selected-background-color;
}

.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item
{
    background-color: @panelbar-content-background;
    color: @panelbar-content-color;
    border-color: @secondary-border-color;
}

.k-panelbar > li > .k-link
{
    color: @panelbar-content-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @secondary-border-color;
}

.k-panel > li.k-item
{
    background-color: @panelbar-content-background;
}

/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active
{
    background-color: @active-background-color;
    border-color: @active-border-color;
    color: @active-text-color;
}

.k-fieldselector .k-list-container
{
    background-color: @active-background-color;
}

.k-menu .k-state-hover>.k-state-active
{
    background-color: transparent;
}

.k-state-highlight
{
    background: @active-background-color;
    color: @active-text-color;
}

.k-state-focused,
.k-grouping-row .k-state-focused
{
    border-color: @focused-border-color;
}

.k-button.k-bare {
    position: relative;

    &:before {
        content: "";
        background-color: currentcolor;
        opacity: 0.12;
        border-radius: inherit;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
    }

    &.k-state-focused,
    &:focus {

        &:before {
            display: block;
        }
    }
}

.k-mediaplayer-toolbar .k-button.k-bare {
    &:active,
    &.k-state-active,
    &.k-state-active:hover {
        color: @button-active-background;

        &:before {
            opacity: 0.24;
        }
    }
}

.k-slider.k-mediaplayer-seekbar {
    top: -14px;
}

.k-calendar .k-link
{
    color: @calendar-content-text-color;
}

.k-calendar .k-footer
{
    padding: 0;
}

.k-calendar .k-footer .k-nav-today
{
    color: @form-widget-color;
    text-decoration: @calendar-footer-text-decoration;
    background-color: @calendar-footer-background;
}

.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-footer .k-nav-today.k-state-hover
{
    background-color: @calendar-footer-hover-background;
    text-decoration: @calendar-footer-hover-text-decoration;
}

.k-calendar .k-footer .k-nav-today:active
{
    background-color: @calendar-footer-active-background;
}

.k-calendar .k-link.k-nav-fast
{
    color: @form-widget-color;
}

.k-calendar .k-nav-fast.k-state-hover
{
    text-decoration: @calendar-header-hover-text-decoration;
    background-color: @calendar-header-hover-background;
    color: @hover-text-color;
}

.k-calendar .k-link.k-state-hover,
.k-window-titlebar .k-link
{
    border-radius: @calendar-border-radius;
}

.k-calendar .k-footer .k-link
{
    border-radius: 0;
}

.k-calendar th
{
    background-color: @calendar-group-background-color;
}

.k-calendar-container.k-group
{
    border-color: @group-border-color;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list>.k-state-selected,
.k-list>.k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color
{
    color: @selected-text-color;
    background-color: @selected-background-color;
    border-color: @selected-border-color;
}

.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first
{
    border-top-color: @hover-border-color;
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    border-top-color: @hover-border-color;
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header
{
    background: @hover-border-color;
    color: @selected-text-color;
}

.k-popup .k-list .k-item > .k-group
{
    background: @hover-border-color;
    color: @background;
    border-bottom-left-radius: @inner-border-radius;
}

.k-marquee-text
{
    color: @selected-text-color;
}

.k-state-focused,
.k-list>.k-state-focused,
td.k-state-focused {
    .box-shadow(@focused-item-shadow);
}

.k-listview>.k-state-focused,
.k-listview > .k-state-focused.k-state-selected {
    .box-shadow(inset 0 0 0 1px @focused-border-color);
}

.k-state-focused.k-state-selected,
.k-list>.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-list-optionlabel.k-state-selected.k-state-focused
{
    .box-shadow(none);
}

.k-state-selected>.k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar>li.k-state-default>.k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list>.k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-pager-wrap .k-link.k-state-disabled {
    color: @link-text-color;
}

/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-state-hover > .k-select,
.k-state-focused > .k-select
{
    border-color: @hover-border-color;
}

.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled)
{
    .composite-background(@hover-gradient);
}

.k-pager-wrap
{
    background-color: @header-background-color;
    color: @header-text-color;
}

.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active>.k-link,
.k-panelbar>.k-item>.k-state-focused {
    .composite-background(@active-gradient);
}

.k-state-selected {
    .composite-background(@selected-gradient);
}

.k-draghandle.k-state-selected:hover {
    background-position: 50% 50%;
}

.k-state-hover>.k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em
{
    color: @hover-text-color;
}

.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @select-border-color;
}

.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input
{
    color: @widget-text-color;
}

.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu {
    .k-space-right {
        background: @background;
        border-color: @widget-border-color;

        > input {
            background-color: @input-background-color;
            border-color: @widget-border-color;
        }

        > input:focus {
            border-color: @drop-down-focused-border-color;
        }
    }
}

.k-dropdown .k-state-hover .k-input
{
    color: @hover-text-color;
}

.k-state-error
{
    border-color: @error-border-color;
    background-color: @error-background-color;
    color: @error-text-color;
}

.k-state-disabled
{
    opacity:.7;
}

.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
    color: @disabled-text-color;
}
.k-file .k-upload-status {
    color: @normal-text-color;
}

/* Progressbar */

.k-progressbar-indeterminate
{
    background: url('@{image-folder}/indeterminate.gif');
}

.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected
{
    display: none;
}

/* Slider */
.k-slider-track
{
    background-color: @widget-border-color;
}

.k-slider-selection
{
    background-color: @selected-background-color;
}

.k-slider-horizontal .k-tick
{
    background-image:url('@{image-folder}/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('@{image-folder}/slider-v.gif');
}

/* Tooltip */
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip
{
    border-color: @tooltip-border-color;
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
}

.k-widget.k-tooltip-validation
{
    border-color: @validation-border-color;
    background-color: @validation-background-color;
    color: @validation-text-color;
}

/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation
{
    font-size: 12px;
    position: relative;
    top: 3px;
}

.k-callout-n
{
    border-bottom-color: @tooltip-border-color;
}

.k-callout-w
{
    border-right-color: @tooltip-border-color;
}

.k-callout-s
{
    border-top-color: @tooltip-border-color;
}

.k-callout-e
{
    border-left-color: @tooltip-border-color;
}

.k-tooltip-validation .k-callout-n
{
    border-bottom-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-w
{
    border-right-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-s
{
    border-top-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-e
{
    border-left-color: @validation-border-color;
}

/* Splitter */
.k-splitbar
{
    background-color: @splitbar-background-color;
}

.k-restricted-size-vertical,
.k-restricted-size-horizontal
{
    background-color: @error-text-color;
}

/* Upload */

.k-file
{
    background-color: @active-background-color;
    border-color: @cell-border-color;
}

.k-file-progress
{
    color: @upload-progress-text-color;
}

.k-file-progress .k-progress
{
    background-color: @upload-progress-background-color;
}

.k-file-success .k-file-name,
.k-file-success .k-upload-pct
{
    color: @upload-success-text-color;
}

.k-file-success .k-progress
{
    background-color: @upload-success-background-color;
}

.k-file-error
{
    color: @upload-error-text-color;

    .k-file-extension-wrapper,
    .k-multiple-files-extension-wrapper {
        color: @upload-error-text-color;
        border-color: @upload-error-text-color;

        &:before {
            border-color: transparent transparent @upload-error-text-color @upload-error-text-color;
        }
    }
}

.k-file-error .k-progress
{
    background-color: @upload-error-background-color;
}

.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
    color: @disabled-text-color;
    border-color: @disabled-text-color;
}

.k-file-invalid .k-file-name-invalid {
    color: @error;
}

.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
    color: @error;
    border-color: @upload-error-text-color;
}

.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
    background-color: @widget-background-color;
    border-color: transparent transparent @disabled-text-color @disabled-text-color;
}

.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
    background-color: @widget-background-color;
    border-color: transparent transparent @upload-error-text-color @upload-error-text-color;
}

.k-multiple-files-extension-wrapper:after {
    border-top-color: @disabled-text-color;
    border-left-color: @disabled-text-color;
}

.k-multiple-files-invalid-extension-wrapper:after {
    border-top-color: @upload-error-text-color;
    border-left-color: @upload-error-text-color;
}

.k-file-size,
.k-file-information,
.k-file-validation-message {
    color: @disabled-text-color;
}

.k-upload .k-upload-selected {
    color: @base;
    border-color: @widget-border-color;
}

/* ImageBrowser */

.k-tile
{
    border-color: @content-background-color;
}

.k-textbox:hover,
.k-tiles li.k-state-hover
{
    border-color: @hover-border-color;
}

.k-tiles li.k-state-selected
{
    border-color: @selected-border-color;
}

/* TreeMap */

.k-leaf,
.k-leaf.k-state-hover:hover
{
    color: #fff;
}

.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover
{
    color: #000;
}

/* Shadows */
.k-widget {
    .box-shadow(@widget-shadow);
}

.k-slider,
.k-treeview,
.k-upload
{
    .box-shadow(none);
}

.k-state-hover
{
    .box-shadow(@hover-shadow);
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused
{
    .box-shadow(@focused-shadow);
}

.k-state-selected
{
    .box-shadow(@selected-shadow);
}

.k-state-active
{
    .box-shadow(@active-shadow);
}

.k-grid td.k-state-selected.k-state-focused
{
    background-color: lighten(@selected-background-color, 3%);
}

.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(0 2px 2px 0 @shadow-color);
}

.k-treemap-tile.k-state-hover
{
    .box-shadow(inset 0 0 0 3px @widget-border-color);
}

/* Window */

.k-window
{
    .window-shadow(@shadow-color);
    background-color: @widget-background-color;
}

.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content
{
    border-radius: 0;
}

.k-shadow
{
    .box-shadow(0 1px 2px 0 @shadow-color);
}

.k-inset
{
    .box-shadow(inset 0 1px 1px @shadow-color);
}

/* Selection */
.k-editor-inline {
    .selection(@selected-border-color);
}

// Notification
@import "themes/notification.less";

/* Gantt */

.k-gantt .k-treelist
{
    background: @alt-background-color;
}

.k-gantt .k-treelist .k-alt
{
    background-color: darken(@alt-background-color, 10%);
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td
{
    background-color: @selected-background-color;
}

.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td
{
    background-color: desaturate(@selected-background-color, 35%);
}

.k-task-dot:after
{
    background-color: @widget-text-color;
    border-color: @widget-text-color;
}

.k-task-dot:hover:after
{
    background-color: @active-background-color;
}

.k-task-summary
{
    border-color: @task-summary-color;
    background: @task-summary-color;
}

.k-task-milestone,
.k-task-summary-complete
{
    border-color: @widget-text-color;
    background: @widget-text-color;
}

.k-state-selected.k-task-summary
{
    border-color: @task-summary-selected-color;
    background: @task-summary-selected-color;
}

.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete
{
    border-color: @selected-background-color;
    background: @selected-background-color;
}

.k-task-single
{
    background-color: lighten(@event-background-color, 7%);
    border-color: @event-background-color;
    color: @event-text-color;
}

.k-state-selected.k-task-single
{
    border-color: @selected-border-color;
}

.k-line
{
    background-color: @widget-text-color;
    color: @widget-text-color;
}

.k-state-selected.k-line
{
    background-color: @selected-background-color;
    color: @selected-background-color;
}

.k-resource
{
    background-color: @widget-background-color;
}

/* PivotGrid */

/* Border radius */
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload
{
    border-radius: @border-radius;
}

.k-tool {
    text-align: center;
    vertical-align: middle;
}

.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-group-start.k-group-end.k-tool
{
    border-radius: @border-radius;
}

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu
{
    border-radius: 0 0 @border-radius @border-radius;
}

.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input
{
    border-radius: 0 0 0 @border-radius;
}

.k-multiselect.k-state-border-up .k-multiselect-wrap
{
    border-radius: 0 0 @border-radius @border-radius;
}

.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down
{
    border-radius: @border-radius @border-radius 0 0;
}

.k-split-button.k-state-border-down > .k-button
{
    border-radius: @border-radius 0 0 0;
}

.k-split-button.k-state-border-up > .k-button
{
    border-radius: 0 0 0 @border-radius;
}

.k-split-button.k-state-border-down > .k-split-button-arrow
{
    border-radius: 0 @border-radius 0 0;
}

.k-split-button.k-state-border-up > .k-split-button-arrow
{
    border-radius: 0 0 @border-radius 0;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-numeric-wrap .k-link
{
    border-radius: 0 @inner-border-radius 0 0;
}

.k-numeric-wrap .k-link + .k-link
{
    border-radius: 0 0 @inner-border-radius 0;
}

.k-colorpicker .k-selected-color
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-colorpicker .k-selected-color
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-autocomplete.k-state-border-down .k-input
{
    border-radius: @border-radius @border-radius 0 0;
}

.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input
{
    border-radius: @border-radius 0 0 0;
}

.k-numeric-wrap .k-link.k-state-selected
{
    background-color: @numeric-selected-background;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap
{
    border-radius: @inner-border-radius @inner-border-radius 0 0;
}

.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select+.k-select,
.k-list-container.k-state-border-right
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select+.k-select,
.k-rtl .k-list-container.k-state-border-right
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-numeric-wrap.k-expand-padding .k-input
{
    .guarded-border-radius(@border-radius);
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap
{
    .guarded-border-radius(@inner-border-radius);
}

.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item
{
    .guarded-border-radius(@list-border-radius);
}

.k-slider .k-button,
.k-grid .k-slider .k-button
{
    border-radius: @slider-border-radius;
}

.k-draghandle
{
    border-radius: @draghandle-border-radius;
}

.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation
{
    border-radius: @border-radius;
}

.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link
{
    border-radius: @border-radius;
}

.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link
{
    border-radius: @inner-border-radius;
}

.k-scheduler-mobile .k-event
{
    border-radius: (@inner-border-radius - 1);
}

/* Adaptive Grid */

.k-grid-mobile .k-column-active + th.k-header
{
    border-left-color: @widget-text-color;
}

html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field
{
    color: @widget-text-color;
}

@media screen and (-ms-high-contrast: active)
              and (-ms-high-contrast: none) {
    div.km-pane-wrapper a
    {
        color: @widget-text-color;
    }
}

.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check
{
    background-color: @widget-background-color;
    border-top: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field textarea
{
    outline-width: 0;
}

.km-pane-wrapper .k-mobile-list .k-item.k-state-selected
{
    background-color: @selected-background-color;
    border-top-color: @selected-border-color;
}

.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child
{
    border-top-color: transparent;
}

.km-pane-wrapper .k-mobile-list .k-item:last-child
{
    .box-shadow(inset 0 -1px 0 @cell-border-color);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child
{
    color: darken(@cell-border-color, 30);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link
{
    border-bottom: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field
{
    .box-shadow(0 1px 1px @cell-border-color);
}

.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]
{
    color: #fff;
    border-color: @error-border-color;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.15));
}

.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active
{
    background-color: darken(red, 20);
}

/* /Column Menu */

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

.k-multiselect.k-header
{
    border-color: @drop-down-border-color;
}

.k-multiselect.k-header.k-state-hover
{
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-list-container
{
    color: @drop-down-text-color;
}

.k-nodata {
    color: @disabled-text-color;
}

.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup
{
    color: @drop-down-text-color;
}

.k-state-default > .k-select
{
    border-color: @drop-down-border-color;
}

.k-state-hover > .k-select
{
    border-color: @drop-down-hover-border-color;
}

.k-state-focused > .k-select
{
    border-color: @drop-down-focused-border-color;
}

.k-tabstrip:focus
{
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link
{
    color: @tabstrip-tabs-color;
}

.k-tabstrip-items .k-state-hover .k-link,
.k-tabstrip-items .k-state-active .k-link {
    color: @link-text-color;
}

.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar>li.k-state-default>.k-link.k-state-hover
{
    color: @hover-text-color;
}

.k-panelbar > li > .k-state-focused.k-state-hover
{
    background: @hover-background-color;
    .box-shadow(none);
}

.k-tabstrip-items .k-state-default
{
    border-color: @tabstrip-items-border;
}

.k-tabstrip-items .k-state-hover
{
    border-color: @hover-border-color;
}

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active
{
    background-color: @active-background-color;
    .composite-background(@active-gradient);
    border-color: @active-border-color;
}

.k-tabstrip .k-content.k-state-active
{
    background-color: @tabstrip-active-background;
    color: @widget-text-color;
}

.k-menu.k-header,
.k-menu .k-item
{
    border-color: @menu-border-color;
}

.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group
{
    border-color: @secondary-border-color;
}

.k-overflow-container .k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%), 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group
{
    box-shadow: 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-last-visible.k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-column-menu .k-separator
{
    border-color: @secondary-border-color;
    background-color: transparent;
}

.k-menu .k-group
{
    border-color: @group-border-color;
}

.k-menu {
    .k-link.k-state-active {
        background-color: @base;
        color: @normal-background;
    }

    .k-state-hover .k-state-active {
        background-color: darken(@base, 8%);
    }

}

.k-grid-filter.k-state-active
{
    background-color: @active-filter-background-color;
}

.k-grid-filter.k-state-active .k-icon {
    opacity: 1;
}

.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td
{
    color: @secondary-text-color;
    border-color: @secondary-border-color;
    font-weight: bold;
}

.k-grouping-header
{
    color: @secondary-text-color;
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default
{
    border-color: @secondary-border-color;
}

// Fix for responsive design
.k-pager-numbers .k-link,
.k-treeview .k-in
{
    border-color: transparent;
}

.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon
{
    background-color: @icon-background-color;
    border-radius: @calendar-border-radius;
}

.k-scheduler-table .k-state-hover .k-icon
{
    background-color: transparent;
}

.k-split-button:focus {
    outline:none;
}

.k-split-button:focus {
    box-shadow: 0 0 0px 1px @button-focused-border-color;
}

.k-split-button:focus > .k-button {
    background: transparent;
    border-color: transparent;
}

.k-split-button:focus > .k-button.k-split-button-arrow {
    border-left-color: @button-focused-border-color;
}

.k-editor .k-tool:focus
{
   outline: 0;
   border-color: @button-focused-border-color;
   .box-shadow(@button-focused-shadow);
}

@import "themes/checkbox.less";

@checkbox-border-color: lighten(@normal-text-color, 20%);
@checkbox-border-radius: 1px;
@checkbox-hover-border-color: darken(@normal-text-color, 7%);
@checkbox-hover-box-shadow: none;
@checkbox-checked-border-color: lighten(@normal-text-color, 20%);
@checkbox-checked-color: @normal-text-color;
@checkbox-active-border-color: @base;
@checkbox-active-box-shadow: none;
@checkbox-disabled-color: darken(@hover-background, 29%);
@checkbox-disabled-border-color: darken(@hover-background, 29%);
@checkbox-indeterminate-border-color: @checkbox-checked-border-color;
@checkbox-indeterminate-background-color: @checkbox-checked-border-color;
@checkbox-indeterminate-hover-background-color: @checkbox-hover-border-color;
@checkbox-indeterminate-hover-border-color: @checkbox-hover-border-color;

@import "themes/radiobutton.less";

@radio-border-color: lighten(@normal-text-color, 20%);
@radio-hover-border-color: darken(@normal-text-color, 7%);
@radio-checked-background-color: darken(@normal-text-color, 7%);
@radio-active-border-color: lighten(@normal-text-color, 20%);
@radio-active-box-shadow: none;
@radio-disabled-color: darken(@hover-background, 29%);
@radio-disabled-border-color: #bfbfbf;

/* Responsive styles */

@media only screen and (max-width: 1024px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
        .k-pager-numbers .k-current-page .k-link
        {
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: @drop-down-background;
            border-color: @widget-border-color;
        }

        .k-pager-numbers .k-current-page .k-link
        {
            border-color: @secondary-border-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view
        {
            border-radius: @border-radius;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view
        {
            border-radius: @inner-border-radius @inner-border-radius 0 0;
        }

        .k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views li,
        .k-scheduler-toolbar > ul.k-scheduler-views li .k-link
        {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link
        {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }

        .k-pager-numbers .k-current-page .k-link:hover,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover
        {
            border-color: @hover-border-color;
            .composite-background(@hover-gradient);
            background-color: @hover-background-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link
        {
            color: @widget-text-color;
            min-width: 75px;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link
        {
            color: @hover-text-color;
        }

        .k-pager-numbers .k-current-page .k-link:after,
        .k-scheduler-views > li.k-state-selected > .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.333em;
            width: 1.333em;
            height: 1.333em;
        }

        .k-pager-numbers.k-state-expanded,
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @secondary-border-color;
            background-color: @header-background-color;
            border-radius: @border-radius @border-radius 0 0;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px;
            background-image: none;
            border-radius: @border-radius;
        }

        .k-pager-numbers .k-state-selected,
        .k-pager-numbers .k-link
        {
            .guarded-border-radius(@list-border-radius);
        }

        .k-widget.k-grid .k-pager-nav + .k-pager-numbers
        {
          position: absolute;
        }

        .km-pane-wrapper .k-pager-numbers,
        .km-pane-wrapper .k-grid .k-pager-numbers {
            transform: translate(-50%, -100%);
            -webkit-transform: translate(-50%, -100%);
        }
    }

    .k-grid .k-pager-numbers:not(.k-state-expanded) {
        transform: none;
    }

    .k-grid .k-pager-numbers:not(.k-state-expanded) .k-current-page {
        transform: none;
    }
}


.k-button:hover .k-icon,
.k-tool-icon:hover,
.k-state-hover .k-tool-icon,
.k-state-selected .k-tool-icon,
.k-state-focused .k-tool-icon,
.k-button:hover .k-tool-icon,
.k-splitbar.k-splitbar-horizontal-hover .k-icon,
.k-splitbar.k-splitbar-vertical-hover .k-icon,
div.k-splitbar.k-state-focused .k-icon,
.k-textbox:hover > .k-icon,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-delete,
.k-grouping-header .k-button-icon:hover > .k-icon.k-i-delete,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-up,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-up,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grouping-header .k-i-arrow-60-down,
.k-grouping-header .k-link:hover > .k-icon.k-i-arrow-60-down,
.k-grid-toolbar .k-i-file-pdf,
.k-grid-toolbar .k-button:hover > .k-i-file-pdf,
.k-grid-toolbar .k-i-file-excel,
.k-grid-toolbar .k-button:hover > .k-i-file-excel,
.k-grid-toolbar .k-icon,
.k-scheduler-toolbar .k-icon,
.k-scheduler-footer .k-icon,
.k-scheduler-content .k-icon,
.k-gantt-toolbar .k-icon,
.k-field-actions .k-icon,
.k-notification .k-icon,
.k-pivot-configurator-settings .k-icon:hover
{
    opacity:.8;
}

.k-state-disabled .k-icon,
.k-state-disabled .k-button .k-icon,
.k-button.k-state-disabled .k-icon
{
    opacity: .3;
}

.k-numerictextbox .k-select,
.k-combobox .k-select,
.k-picker-wrap .k-select {
    border-color: @widget-background-color;
}

.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
    background-color: @widget-background-color;
}


.k-textbox.k-state-disabled,
.k-state-disabled .k-picker-wrap,
.k-autocomplete.k-state-disabled,
.k-dropdown-wrap.k-state-disabled,
.k-picker-wrap.k-state-disabled,
.k-multiselect.k-state-disabled,
.k-numeric-wrap.k-state-disabled {
    border-color: @primary-disabled-border-color;
}

.k-autocomplete.k-state-border-down {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0;
}



input.k-textbox:focus {
    border-color: @drop-down-focused-border-color;
}

.k-multiselect {
    &.k-header.k-state-hover .k-button,
    &.k-header.k-state-focused .k-button
    {
        background-color: @button-hover-background-color;
    }

    .k-button:hover,
    .k-button.k-state-hover
    {
        color: @button-hover-text-color;
        border-color: @button-hover-border-color;
        background-color: @button-hover-background-color;
    }

    &.k-header.k-state-focused .k-button {
        border-color: @drop-down-focused-border-color;
    }

    &.k-state-focused.k-state-border-up .k-button,
    &.k-state-focused.k-state-border-down .k-button
    {
        color: @inverse-text-color;
        background-color: @select-background-color;
        border-color: @select-border-color;
    }
}

.k-dropdown-wrap.k-state-default.k-state-active,
.k-picker-wrap.k-state-default.k-state-active {
    background-color: @select-background-color;
    border-color: @select-border-color;
}

.k-picker-wrap.k-state-default.k-state-active .k-select,
.k-dropdown-wrap.k-state-default.k-state-active .k-select {
    border-color: @select-border-color;
}

.k-dropdown .k-state-default.k-state-active .k-input,
.k-state-selected .k-progress-status {
    color: @inverse-text-color;
}

.k-list > .k-state-hover {
    border-color: @hover-background-color;
}

.k-list > .k-item.k-state-focused,
.k-treeview .k-in.k-state-focused {
    border-color: @drop-down-focused-border-color;
}

.k-list > .k-state-selected {
    background-color: @selected-background-color;
    border-color: @selected-background-color;
}

.k-popup {
    .box-shadow(0 0 5px 2px @shadow-color);
}

.k-calendar {
    .k-state-focused,
    .k-state-selected.k-state-focused {
        box-shadow: inset 0 0 0px 1px @base;
    }

    .k-state-selected {
        background-color: @accent;
    }

    td:active,
    .k-state-selected.k-state-hover {
        background-color: difference(@accent, #0b0b0b);
    }

    .k-nav-fast.k-state-hover,
    .k-nav-prev.k-state-hover,
    .k-nav-next.k-state-hover
    {
        background-color: @widget-background-color;
    }

    .k-today {
        background-color: @base;
    }

    .k-today .k-link {
        color: @normal-background;
    }

    .k-today.k-state-hover {
        background-color: darken(@base, 8%);
    }

    .k-today.k-state-focused,
    .k-today:active,
    .k-today.k-state-selected:active {
        box-shadow: inset 0 0 0px 1px darken(@base, 15%);
    }

    .k-footer .k-nav-today
    {
        color: @link-text-color;
    }

    .k-footer {
        border-color: @widget-border-color;
    }
}

.k-splitbar {
    border-color: @splitbar-background-color;
}

.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover {
    background-color: @select-hover-background-color;
    border-color: @select-hover-background-color;
}

.k-splitbar.k-state-focused {
    background-color: @focused-border-color;
    border-color: @focused-border-color;
}

.k-marquee-color {
    background-color: @select-background-color;
}

.k-grid .k-state-selected,
.k-grid td.k-state-selected.k-state-focused {
    background-color: @selected-background-color;
}

.k-grid tr:hover,
.k-gantt .k-treelist tr:hover {
    background-color: @hover-background-color;
}

.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
    background: none;
}

.k-grid tr.k-state-selected:hover,
.k-grid td.k-state-selected:hover {
    background-color: desaturate(@selected-background-color, 35%);
}

.k-gantt .k-treelist .k-alt,
.k-gantt .k-header.k-nonwork-hour {
   background-color: @alt-background-color;
}

.k-grid-header th.k-state-focused,
.k-grid td.k-state-focused {
    .box-shadow(inset 0 0 0 1px @focused-border-color);
}

.k-grid td,
.k-grid .k-grouping-header,
.k-header.k-grid-toolbar,
.k-grid-header-wrap {
    border-color: transparent;
}

.k-grid tr th {
    border-left-color: transparent;
}

.k-pivot .k-grid-header th.k-header,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
    border-color: @widget-border-color;
}

.k-group-footer td {
    border-top-color: @group-border-color;
}

.k-grouping-header,
.k-pager-info {
    color: @disabled-text-color;
}

.k-grouping-header .k-group-indicator {
    background-color: @button-background-color;
    border-color: @button-border-color;
}

.k-grouping-header .k-group-indicator .k-link {
    color: @widget-text-color;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-link:hover,
.k-pager-numbers .k-state-selected {
    background: none;
    border-radius: 0;
}

.k-pager-wrap > .k-link,
.k-pager-wrap > .k-link.k-state-disabled:hover,
.k-pager-wrap > .k-link:hover,
.k-pager-numbers .k-link:hover
{
    border-radius: 0;
    border-color: transparent;
    background: none;
}

.k-pager-numbers .k-link {
    border-color: transparent;
    color: @widget-text-color;
}

.k-pager-numbers .k-state-selected {
    color: @link-text-color;
    border-color: @link-text-color;
}

.k-progressbar {
    background-color: @primary-disabled-background-color;
    border-color: @primary-disabled-background-color;

    .k-state-default {
        border-color: @primary-disabled-border-color @widget-background-color @primary-disabled-border-color;
    }

    .k-state-selected {
        background-color: @slider-selection-background-color;
        border-color: @slider-selection-background-color;
    }

    &.k-progressbar-vertical .k-state-selected {
        border-color: @slider-selection-background-color;
    }
}

.k-toolbar {
    .k-toggle-button {
        background-color: @widget-background-color;
        border-color: @widget-background-color;
    }

    .k-toggle-button:hover {
        background-color: @hover-background-color;
        border-color: @hover-background-color;
    }

    .k-toggle-button.k-state-active,
    .k-toggle-button:active,
    .k-toggle-button:active:hover {
        background-color: @selected-background-color;
        border-color: @selected-border-color;
    }

    .k-toggle-button:active,
    .k-toggle-button.k-state-active,
    .k-toggle-button:active:hover {
        color: @widget-text-color;
    }

    .k-toggle-button.k-state-disabled,
    .k-toggle-button.k-state-disabled:active,
    .k-toggle-button.k-state-disabled:active:hover {
        color: @disabled-text-color;
        border-color: @disabled-border-color;
        background-color: @disabled-background-color;
        .composite-background(@disabled-gradient);
    }

    .k-toggle-button.k-state-disabled:focus,
    .k-toggle-button.k-state-disabled:focus:hover {
        border-color: @button-focused-border-color;
        .box-shadow(@button-focused-shadow);
    }

    .k-overflow-anchor {
        background-color: @widget-background-color;
        border-color: @widget-border-color;
    }

    .k-overflow-anchor:hover {
        background-color: @button-hover-background-color;
        border-color: @button-hover-background-color;
    }

    .k-overflow-anchor.k-state-active {
        border-color: @button-hover-background-color;
    }

    .k-overflow-anchor.k-state-border-down,
    .k-overflow-anchor.k-state-border-up {
        background-color: @primary-background-color;
        border-color: @primary-background-color;
    }
}

.k-tabstrip {
    &.k-header {
        background-color: @button-background-color;
    }

    .k-item {
        background-color: @button-background-color;
        border-color: @button-border-color;
    }

    .k-item.k-state-active {
        background-color: @active-background-color;
        border-color: @active-background-color;
    }

    .k-content {
        border-color: transparent;
    }
}

.k-slider-track {
    background-color: @form-widgets-border-color;
}

.k-slider-selection {
    background-color: @select-background-color;
}

.k-draghandle {
    background-color: @draghandle-background-color;
    border-color: @draghandle-border-color;
}

.k-draghandle:hover,
.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:hover {
    background-color: @primary-hover-background-color;
    border-color: @primary-hover-border-color;
}

.k-flatcolorpicker .k-selected-color input.k-color-value,
.k-flatcolorpicker .k-hsv-rectangle {
    border-color: @widget-border-color;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle,
.k-flatcolorpicker .k-transparency-slider .k-draghandle,
.k-flatcolorpicker .k-hue-slider .k-draghandle:hover,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:hover,
.k-flatcolorpicker .k-hue-slider .k-draghandle:focus,
.k-flatcolorpicker .k-transparency-slider .k-draghandle:focus {
    background-color: @checkbox-border-color;
    border-color: @checkbox-border-color;
}

.k-flatcolorpicker .k-slider-horizontal .k-slider-track {
    .box-shadow(none);
}

.k-treeview {
    .k-state-selected {
        color: @select-background-color;
        background-color: @widget-background-color;
    }
}

.k-scheduler-toolbar,
.k-gantt-toolbar {
    .k-link {
        color: @widget-text-color;
    }

    .k-state-selected .k-link {
        color: @link-text-color;
    }

    .k-nav-current .k-link {
        color: @link-text-color;
    }
}

.k-scheduler .k-scheduler-toolbar,
.k-gantt .k-gantt-toolbar {
    ul li,
    ul li.k-state-hover,
    ul li.k-state-selected {
        background-color: @widget-background-color;
        border-color: transparent;
    }
}

.k-fieldselector {
    .k-item.k-header {
        border-color: @button-background-color;
        background-color: @button-background-color;
    }

    .k-item.k-header.k-state-hover {
        border-color: @button-hover-border-color;
        background-color: @button-hover-background-color;
    }
}

.k-scheduler-footer {
    ul li {
        border-color: transparent;
    }
}



.k-scheduler {
    .k-event-template,
    .k-event-inverse {
        color: @inverse-text-color;
    }
}

.k-scheduler .k-nonwork-hour {
    background-color: lighten(@selected-background-color, 5%);
}

.k-scheduler-content .k-event {
    .box-shadow(inset 4px 0 0 0 rgba(255, 255, 255, .5));
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
    border-left-color: transparent;
    border-right-color: transparent;
}

.k-gantt .k-gantt-timeline tr:first-child th {
    border-color: @widget-border-color;
}

.k-gantt .k-treelist .k-alt {
    background-color: @widget-background-color;
}

.k-panelbar .k-state-selected.k-state-hover {
    background-color: @selected-background-color;
}

.k-panelbar > li > .k-state-selected,
.k-panelbar > li > .k-state-selected.k-state-hover,
.k-panelbar > li.k-state-default > .k-link.k-state-selected,
.k-panelbar > li > .k-state-focused.k-state-hover {
    color: @inverse-text-color;
    background-color: @select-background-color;
}

.k-panelbar.k-header,
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item,
.k-panelbar > .k-item > .k-link {
    border-color: @menu-border-color;
}

.k-window > .k-header {
    border-color: transparent;
}

.k-window-titlebar .k-state-hover {
    background-color: transparent;
    border-color: transparent;
}

.k-tooltip-validation,
.k-notification {
    .box-shadow(none);
}

.k-editor {
    .k-tool {
        border-color: @header-background-color;
    }

    .k-tool.k-state-selected {
        border-color: @selected-border-color;
    }

    .k-tool.k-state-hover {
        border-color: @hover-background-color;
    }
}

.k-webkit,
.k-ff,
.k-ie11,
.k-edge,
.k-safari {

    .k-nav-current > .k-link span + span {
        max-width: 400px;
    }

}

@media only screen and (max-width: 1420px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {
        /* Responsive Scheduler */

        .k-nav-current > .k-link span + span {
            max-width: 200px;
        }
    }
}

/* Responsive styles */

@media only screen and (max-width: 1024px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {
        /* Responsive Scheduler */

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: transparent;
            border-color: @widget-border-color;
            border-radius: @border-radius;
            text-align: right;
        }

        .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
            text-align: left;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
            border-radius: @inner-border-radius @inner-border-radius 0 0;
        }

        .k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views li,
        .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
            border-radius: 0;
            padding-top: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
            border-color: @hover-border-color;
            .composite-background(@hover-gradient);
            background-color: @hover-background-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
            color: @header-text-color;
            min-width: 20px;
        }

        .k-scheduler-views > li.k-state-selected > .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.333em;
            width: 16px;
            height: 16px;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @widget-border-color;
            background-color: @header-background-color;
            border-radius: 0;
            border-width: 1px;
            background-image: none;
            .box-shadow(0 0 5px 2px @shadow-color);
        }

        .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
            text-align: left;
        }

        /* Responsive Pager */

        .k-pager-wrap {
            min-height: 2.2em;
        }

        .k-pager-wrap .k-pager-nav,
        .k-pager-input {
            display: inline-block;
            vertical-align: top;
        }

        .k-pager-numbers,
        .k-grid .k-pager-numbers {
            position: absolute;
            left: 5em;
            display: inline-flex;
            flex-direction: column-reverse;
            overflow: visible;
            height: auto;
            transform: translatey(-100%);
        }

        .km-pane-wrapper .k-pager-numbers .k-link,
        .km-pane-wrapper .k-pager-numbers .k-state-selected,
        .km-pane-wrapper .k-pager-wrap > .k-link,
        .km-pane-wrapper .k-pager-wrap > .k-pager-info {
            padding-top: 0;
            padding-bottom: 0;
        }

        .k-rtl .k-pager-numbers,
        .k-rtl .k-grid .k-pager-numbers
        {
            right: 5em;
            width: 5.15em;
        }

        .k-pager-numbers .k-current-page,
        .k-grid .k-pager-numbers .k-current-page {
            display: block;
            border-left: 0;
            transform: translatey(100%);
        }

        .k-pager-numbers li:not(.k-current-page) {
            display: none;
        }

        .k-pager-wrap .k-pager-numbers .k-current-page .k-link {
            width: 3.8em;
            line-height: 1.429em;
            padding: 0.3em .429em 0.3em 0.8em;
            border-radius: @border-radius;
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: @drop-down-background;
            border: 1px solid @widget-border-color;
        }

        .k-pager-numbers .k-current-page:hover .k-link {
            border-radius: @border-radius;
            background-color: @hover-background-color;
            border: 1px solid @hover-border-color;
        }

        .k-pager-numbers .k-current-page .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.6em;
            right: 0.6em;
            width: 16px;
            height: 16px;
        }

        .k-pager-numbers + .k-link {
            margin-left: 5.7em;
        }

        .k-rtl .k-pager-numbers + .k-link {
            margin-right: 6em;
            margin-left: 0;
        }

        .k-pager-wrap .k-pager-numbers .k-state-selected,
        .k-pager-wrap .k-pager-numbers .k-link {
            display: block;
            margin-top: 0;
            margin-right: 0;
            padding: 1px 5px 1px .8em;
            text-align: left;
            border-width: 0;
        }

        .k-pager-wrap .k-pager-numbers .k-state-selected {
            background-color: @selected-background-color;
        }

        .k-pager-wrap .k-pager-numbers li:not(.k-current-page) .k-link:hover {
            background-color: @hover-background-color;
        }

        .k-pager-numbers.k-state-expanded {
            box-sizing: border-box;
            padding: 0;
            border-style: solid;
            border-color: @widget-border-color;
            background-color: @widget-background-color;
            border-radius: @border-radius @border-radius 0 0;
            .box-shadow(0 0 5px 2px @shadow-color);
        }

        .k-pager-numbers.k-state-expanded .k-current-page {
            margin: -2.2em -1px 0;
            padding: 0;
        }

        .k-pager-numbers.k-state-expanded .k-current-page .k-link {
            border-radius: 0 0 @border-radius @border-radius;
            background-color: @active-border-color;
            border: 1px solid @active-border-color;
            border-top-color: @widget-border-color;
            color: @inverse-text-color;
        }

        .k-pager-numbers.k-state-expanded .k-current-page .k-link:after {
            background-position: 0 0;
            opacity: 1;
        }

        .k-pager-numbers.k-state-expanded li {
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 640px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {
        .k-pager-info {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {
        .k-pager-sizes {
            display: none;
        }

        .k-scheduler-toolbar .k-i-calendar
        {
            display: inline-block;
        }
    }
}

.km-pane-wrapper .k-grid .k-pager-numbers .k-link,
.km-pane-wrapper .k-grid .k-pager-numbers .k-state-selected
{
    width: auto;
    height: auto;
    padding-top: .35em;
    min-width: 2em;
    border-radius: 0;
    margin-top: -0.35em;
}

/* Default Theme */

.k-chart .k-mask {
    background-color: #fff;
    filter: alpha(opacity=68);
    opacity: 0.68;
}

.k-chart .k-selection {
    border-color: #e5e5e5;
}

.k-chart .k-handle {
    width: 15px;
    height: 15px;
    background-color: #00b0ff;
    border-radius: 10px;
}

.k-chart .k-left-handle {
    left: -8px;
}

.k-chart .k-right-handle {
    right: -8px;
}

.k-chart .k-handle:hover {
    background-color: #00b0ff;
    border-color: #00b0ff;
}

.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #242424;
}

.k-chart .k-navigator-hint .k-scroll {
    background: @base;
    height: 4px;
}

.k-chart-tooltip {
    background-image: none;
}

/* Map */

.k-map .k-marker {
    font-size: 28px;
    color: @accent;
}

.k-map .k-attribution {
    color: #666666;
}

@import "themes/spreadsheet.less";

@spreadsheet-cell-border: #c8c8c8;
@spreadsheet-selection-background: fadeout(@base, 80%);
@spreadsheet-selection-border: @base;
@spreadsheet-header-background: @background;
@spreadsheet-header-border: #dadada;
@spreadsheet-pane-border: #c8c8c8;

.k-spreadsheet-sheets-bar {
    background-color: #f4f4f4;

    .k-item, .k-item.k-state-active {
        border-color: @spreadsheet-header-border;
    }
}

.k-window .k-popup-edit-form .k-edit-field {
    label.k-checkbox-label {
        margin-top: 0.3em;
    }
}

/* Dialog */

.k-dialog {
    .k-window-titlebar {
        font-size: 1em;
        padding: 1em;
    }
    a.k-dialog-action.k-dialog-close.k-button.k-bare {
        &:before {
            content: normal;
        }
    }
    &.k-alert .k-window-titlebar,
    &.k-confirm .k-window-titlebar,
    &.k-prompt .k-window-titlebar {
        .k-dialog-title {
            color: @normal-text-color;
        }
        border-bottom: none;
    }
    &.k-alert .k-content,
    &.k-confirm .k-content,
    .k-content {
        padding: 1em 1em 1.8em 1em;
        border-bottom-right-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }
    &.k-alert .k-content,
    &.k-confirm .k-content,
    &.k-prompt .k-content,
    &.k-prompt {
        text-align: left;
    }
    &.k-dialog-titleless .k-content {
        border-top-right-radius: @border-radius;
        border-top-left-radius: @border-radius;
    }
    .k-dialog-buttongroup {
        &.k-dialog-button-layout-stretched {
            .k-button {
                padding: 12px;
            }
            .k-button:first-child {
            border-bottom-left-radius: @border-radius;
            border-left: 0;
            }
            .k-button:last-child {
                border-bottom-right-radius: @border-radius;
                border-right: 0;
            }
        }
        &.k-dialog-button-layout-normal {
            .k-button {
                padding-left: 2em;
                padding-right: 2em;
                margin-left: 1em;
                border-radius: @border-radius;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
.k-rtl .k-dialog {
        .k-window-titlebar {
            .k-dialog-title {
                padding-right: 0;
                padding-left: 2em;
            }
    }
    a.k-dialog-action.k-dialog-close {
        left: 0;
    }
    .k-dialog-buttongroup {
        &.k-dialog-button-layout-stretched {
            .k-button:first-child {
                border-bottom-right-radius: @border-radius;
            }
            .k-button:last-child {
                border-bottom-left-radius: @border-radius;
            }
        }
        &.k-dialog-button-layout-normal {
            text-align: left;
            .k-button {
                margin-left: 0;
                margin-right: 0.5em;
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}

//Media Player

.k-mediaplayer {
    .k-toolbar > * {
        margin-top: -0.1em;
    }

    .k-toolbar .k-button-icon {
        margin-top: 0.2em;
    }

    .k-mediaplayer-currenttime {
        margin-top: 0;
    }

    .k-align-right {
        margin-top: 0;

        .k-mediaplayer-volume {
            margin: -2px 6px 0;
        }
    }
}

.k-numeric-wrap .k-i-warning {
    color: @input-validation-error;
    position: absolute;
    top: 0;
    right: 1.9em;
    width: 1.9em;
}

.k-numeric-wrap.k-state-invalid {
    border-color: @input-validation-error;

    input {
        color: @input-validation-error;
    }
}

.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
    right: auto;
    left: 1.9em;
}

.k-maskedtextbox.k-state-invalid {
    .k-textbox {
        border-color: @input-validation-error;
        color: @input-validation-error;
    }

    .k-i-warning {
        color: @input-validation-error;
    }
}

.k-dateinput.k-state-invalid {
    .k-textbox {
        color: @input-validation-error;
        border-color: @input-validation-error;
    }

    .k-i-warning {
        margin-left: 0;
        margin-right: 0.6em;
        color: @input-validation-error;
    }
}

.k-rtl .k-dateinput .k-i-warning {
    margin-right: 0;
    margin-left: 0.6em;
}

.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap {
    &.k-state-invalid {
        border-color: @input-validation-error;

        .k-input {
            color: @input-validation-error;
        }
    }

    .k-i-warning {
        color: @input-validation-error;
        margin-left:0;
        margin-right: 2.1em;
    }

    .k-rtl & {
        .k-i-warning {
            margin-right: 0;
            margin-left: 2.1em;
        }
    }
}

.k-datetimepicker .k-picker-wrap {
    &.k-state-invalid {
        border-color: @input-validation-error;

        .k-input {
            color: @input-validation-error;
        }
    }

    .k-i-warning {
        color: @input-validation-error;
        margin-left:0;
        margin-right: 5.6em;
    }

    .k-rtl & {
        .k-icon.k-i-warning {
            margin-right: 0;
            margin-left: 5.6em;
        }
    }
}

.k-listbox {
    .k-list-scroller {
        border-color: @widget-border-color;
        background-color: @input-background-color;
    }

    .k-item {
        padding: 1px 7px 1px 7px;

        &:hover:not(.k-state-selected):not(.k-state-disabled) {
            color: @hover-text-color;
            background-color: @hover-background-color;
            border-color: transparent;
        }

    }
    .k-state-selected {
        border-color: transparent;
    }

    .k-drop-hint {
        height: 0;
        border-top: 1px solid @accent;
    }
}

.k-grid-header {
    .k-link {
        .k-icon.k-i-sort-asc-sm,
        .k-icon.k-i-sort-desc-sm,
        .k-sort-order {
            color: @base;
            margin-top: 0;
        }
    }
}

.k-menu-scroll-button {
    border-width: 0;
    box-shadow: none;
    border-color: @widget-border-color;
    color: @header-text-color;
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @header-background-color;
}

.k-menu-scroll-wrapper.horizontal {
    .k-scroll-left { border-right-width: 1px; }
    .k-scroll-right { border-left-width: 1px; }
}
.k-menu-scroll-wrapper.vertical {
    .k-scroll-up { border-bottom-width: 1px; }
    .k-scroll-down { border-top-width: 1px; }
}