/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
/* Dialog */

.k-dialog
{
    min-width: 90px;
    min-height: 3em;
    max-width: 100%;
    max-height: 100%;
}

.k-window.k-dialog
{
    position: fixed;
    padding-top: 0;
}

.k-dialog .k-dialog-titlebar
{
    position: static;
    margin: 0;
    padding: 0.8em;
    width: auto;
}

.k-dialog .k-dialog-titlebar .k-dialog-title
{
    margin: 0;
    padding: 0;
    width: auto;
    max-width: calc(100% - 16px - 1.8em);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    line-height: 1.2em;
}

.k-dialog .k-content
{
    margin: 0;
    padding: 1.8em 1em 1.8em 1em;
    height: auto;
}

.k-dialog.k-dialog-titleless .k-content
{
    padding: 2.4em;
}

.k-dialog .k-dialog-buttongroup
{
    margin: 0;
    padding: 0;
}

.k-dialog {
    overflow: hidden;

    .k-dialog-buttongroup {
        width: 100%;
        box-sizing: border-box;

        .k-button {
            display: inline-block;
            text-overflow: ellipsis;
        }

        &.k-dialog-button-layout-stretched {
            .k-button {
                margin: 0;
                border-radius: 0;
                border-bottom: 0;
                border-width: 1px 0 0 1px;
            }
            .k-button:first-child {
            border-left-width: 0;
            }
            .k-button:last-child {
                border-right-width: 0;
            }
        }
        &.k-dialog-button-layout-normal {
            padding: 1em;
            justify-content: flex-end;
            flex-wrap: wrap;
            .k-button {
                margin-left: 0.5em;
                &:first-child {
                margin-left: 0;
                }
            }
        }
    }
}

.k-dialog .k-dialog-titlebar .k-dialog-actions {
    top: .6em;
    right: .8em;
    padding: 0;
}

.k-dialog a.k-dialog-action.k-dialog-close
{
    cursor: pointer;
    z-index: 10000;
}

.k-dialog.k-dialog-titleless a.k-dialog-action.k-dialog-close
{
    right: .5em;
    top: 1em;
}

.k-dialog.k-alert .k-dialog-titlebar,
.k-dialog.k-confirm .k-dialog-titlebar,
.k-dialog.k-prompt .k-dialog-titlebar
{
    background: none;
    border-bottom: none;
}

.k-dialog.k-alert .k-content,
.k-dialog.k-confirm .k-content
{
    padding: 2.4em;
}

.k-dialog.k-prompt .k-content
{
    padding: 1.2em 1.2em 0.6em 1.2em;
}

.k-dialog .k-prompt-container
{
    width: auto;
    padding: 0.6em 1.2em 1.8em 1.2em;
}

.k-dialog .k-prompt-container .k-textbox
{
    width: 100%;
}

.k-dialog .k-button {
    box-sizing: border-box;
}