/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
/* ComboBox & DropDownList */

span.k-datepicker,
span.k-timepicker,
span.k-datetimepicker,
span.k-colorpicker,
span.k-numerictextbox,
span.k-combobox,
span.k-dropdown,
.k-toolbar .k-split-button {
    background-image: none;
}

.k-autocomplete,
.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker,
.k-colorpicker,
.k-numerictextbox,
.k-dropdown,
.k-selectbox,
.k-textbox,
.k-toolbar .k-split-button,
.k-listbox {
    position: relative;
    display: inline-block;
    width: 12.4em;
    overflow: visible;
    border-width: 0;
    vertical-align: middle;
}

.k-autocomplete > .k-i-close,
.k-combobox > .k-dropdown-wrap > .k-i-close,
.k-multiselect > .k-multiselect-wrap > .k-i-close {
    font-size: 100%;
    display: none;
    position: absolute;
    right: (@grid-size/4 + 2px);
    cursor: pointer;
}

.k-autocomplete > .k-i-close,
.k-combobox > .k-dropdown-wrap > .k-i-close {
    top: 50%;
    transform: translateY(-50%);
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: 2.4em;
}

.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: (@grid-size/2 - 2px);
}

.k-autocomplete,
.k-combobox > .k-dropdown-wrap {
    &.k-state-hover,
    &.k-state-focused {
        > .k-i-close {
            display: inline-block;
            outline: none;
        }
    }
}

.k-multiselect {
    &.k-state-hover,
    &.k-state-focused {
        > .k-multiselect-wrap > .k-i-close {
            display: inline-block;
            outline: none;
        }
    }
}

.k-autocomplete > .k-hidden,
.k-combobox > .k-dropdown-wrap > .k-hidden,
.k-multiselect .k-hidden {
    display: none !important;
}

.k-autocomplete,
.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker,
.k-colorpicker,
.k-numerictextbox,
.k-dropdown,
.k-selectbox,
.k-toolbar .k-split-button {
    white-space: nowrap;
}

.k-filter-menu .k-combobox,
.k-filter-menu .k-datepicker,
.k-filter-menu .k-timepicker,
.k-filter-menu .k-datetimepicker,
.k-filter-menu .k-numerictextbox,
.k-filter-menu .k-dropdown,
.k-filter-menu .k-autocomplete,
.k-filter-menu .k-textbox {
    width: 13.2em;
}

.k-colorpicker,
.k-toolbar .k-split-button {
    width: auto;
}

.k-datetimepicker {
    width: 15em;
}

.k-autocomplete,
.k-picker-wrap,
.k-numeric-wrap {
    position: relative;
    cursor: default;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    display: block;
}

.k-block,
.k-widget,
.k-grid,
.k-slider,
.k-splitter,
.k-treeview,
.k-panelbar,
.k-content,
.k-header-column-menu {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.k-block,
.k-slider,
.k-splitbar,
.k-calendar,
.k-treeview,
.k-pager-wrap,
.k-grid-header .k-i-link-horizontal,
.k-header-column-menu {
    -webkit-touch-callout: none;
}

.k-header-column-menu {
    color: inhert;
}

.k-list-scroller {
    position: relative;
    overflow: auto;
}

.k-popup.k-list-container,
.k-popup.k-calendar-container {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 2px;
    border-width: 1px;
    border-style: solid;
}

.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
    border-bottom-width: 0;
    padding-bottom: 1px;
}

.k-list-container .km-scroll-container {
    padding-bottom: 6px;
}

.k-textbox,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    border-width: 1px;
    border-style: solid;
}

.k-dropdown-wrap {
    position: relative;
}

.k-dropdown-wrap,
.k-numeric-wrap,
.k-picker-wrap {
    padding-right: calc(@input-height + .35em);
}

.k-numeric-wrap.k-expand-padding {
    padding-right: 0;
}

.k-textbox,
.k-autocomplete {
    padding: 0;
}

.k-textbox.k-space-left {
    padding-left: 2em;
}

.k-textbox.k-space-right {
    padding-right: 2em;
}

.k-picker-wrap .k-input {
    margin: 0;
}

.k-textbox .k-icon {
    top: 50%;
    margin: -8px 0 0;
    position: absolute;
}

.k-space-left .k-icon {
    left: 3px;
}

.k-space-right .k-icon {
    right: 3px;
}

/*prevent missing bottom border at some zoom levels*/
span.k-textbox:after {
  content: "\a0";
  display: block;
  height: .4px;
  overflow: hidden;
}

.k-autocomplete,
.k-dropdown-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover {
    .transition("box-shadow .15s ease-out");
}

.k-textbox > input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-combobox .k-input {
    width: 100%;
    box-sizing: border-box;
}

.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
    font-family: inherit;
    border-width: 0;
    outline: 0;
}

.k-dropdown .k-input,
.k-selectbox .k-input {
    background: transparent;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select {
    position: absolute; /* icon positioning */
    top: 0;
    right: 0;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.k-combobox .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: inherit; /* skin-related, inherit does not work in ie7- */
}

span.k-datetimepicker .k-select,
span.k-datetimepicker .k-select + .k-select {
    right: 0;
}

.k-textbox > input,
.k-autocomplete .k-input {
    display: block;
    width: 100%;
}

.k-dropdown .k-select,
.k-selectbox .k-select {
    overflow: hidden;
    border: 0;
    text-decoration: none;
    font: inherit;
    color: inherit;
}

.k-dropdown .k-input,
.k-selectbox .k-input {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
    line-height: @input-height;
    padding: 0.17857143em 0;
    text-indent: @input-indent;
    border: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-dropdown-wrap .k-input:before {
    content: "";
    display: inline-block;
}

.k-ie {
    .k-autocomplete .k-input,
    .k-multiselect-wrap .k-input,
    .k-dropdown-wrap .k-input,
    .k-selectbox .k-input {
        height: @input-height;
    }

    .k-textbox > input,
    .k-picker-wrap .k-input,
    .k-numeric-wrap .k-input,
    .k-combobox .k-input {
        height: ~"calc(@{input-height} + .35em)";
    }

    input.k-textbox {
        height: ~"calc(@{input-height} + .35em + 2px)";
    }
}

/* fix missing bottom border on browser zoom in Chrome */
.k-webkit .k-combobox .k-dropdown-wrap:before,
.k-webkit .k-picker-wrap:before,
.k-webkit .k-numeric-wrap:before {
    padding-bottom: 0.38em;
}

/* above style breaks NumericTextBox layout due display:block style applied to the input */
.km.root .k-combobox .k-dropdown-wrap:before,
.km.root .k-picker-wrap:before,
.km.root .k-numeric-wrap:before {
    content: none;
}

.k-combobox .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
    display: inline;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select {
    line-height: calc(@input-height + .35em);
    vertical-align: middle;
    -moz-box-sizing: border-box;
    text-align: center;
    width: calc(@input-height + .35em);
    height: 100%;
}

.k-numeric-wrap .k-select {
    padding: 0;
}

body .k-datetimepicker .k-select {
    border-radius: 0;
}

.k-combobox .k-select,
.k-dropdown,
.k-selectbox .k-icon {
    cursor: pointer;
}

.k-popup {
    border-style: solid;
    border-width: 1px;
}

.k-popup .k-item,
.k-list-optionlabel {
    cursor: default;
}

.k-popup .k-calendar {
    border: 0;
}

.k-list {
    height: auto;
}

.k-nodata {
    min-height: 138px;
    width: 100%;
    display: table;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: lighter;
}

.k-nodata > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 11px;
}

.k-popup .k-list .k-item,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header,
.k-listbox .k-item,
.k-item.k-drag-clue {
    padding: 1px 5px 1px 5px;
    line-height: 1.8em;
    min-height: 1.8em;
}

.k-popup .k-list .k-item,
.k-listbox .k-item {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 0 4px;
}

.k-popup .k-list .k-item > .k-group {
    top: -1px;
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    content: " ";
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
    padding-right: 22px;
}

.k-overflow-container .k-item {
    padding: 1px;
}

.k-overflow-container > .k-state-disabled .k-button,
.k-overflow-container .k-button.k-state-disabled,
.k-overflow-container .k-button.k-state-disabled:hover {
    border: 0 ;
    background: none;
}

.k-popup .k-list .k-state-hover,
.k-popup .k-list .k-state-focused,
.k-popup .k-list .k-state-selected,
.k-overflow-container .k-state-hover,
.k-overflow-container .k-state-focused,
.k-overflow-container .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel.k-state-focused,
.k-list-optionlabel.k-state-selected,
.k-listbox .k-item {
    padding: 0 4px;
    border-width: 1px;
    border-style: solid;
}

.k-list-filter {
    position: relative;
    margin-bottom: 2px;
}

.k-list-filter > .k-textbox {
    padding-right: 20px;
    width: 100%;
}

.k-list-filter > .k-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.km-root .k-list-filter > .k-textbox {
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
    border-right-width: 0;
}

/* MultiSelect */

.k-multiselect-wrap {
    position: relative;
    border-width: 0px;
    border-style: solid;
    border-radius: 4px;
    border-color: #C5C5C5;
    background-color: #FFF;
    padding-right: (@grid-size + (@grid-size/4 + 2px));
}

.k-multiselect-wrap .k-input {
    min-width: 25px;
    min-height: @input-height;
    padding: 0.17857143em;
    text-indent: @input-indent;
    background-color: transparent;
    border: 0;
    margin: 0;
    float: left;
}

.k-multiselect-wrap .k-input::-ms-clear {
    display: none;
}

.k-multiselect-wrap li {
    margin: 1px 0 1px 1px;
    padding: .1em 1.6em .1em .4em;
    line-height: (@input-height - .15);
    min-height: calc((@input-height - 0.15em) + .2em + 2px);
    float: left;
    position: relative;
}

.k-autocomplete .k-i-loading,
.k-multiselect .k-i-loading {
    position: absolute;
    top: auto;
    right: 0.4em;
    bottom: 0.4em;
}

.k-multiselect-wrap .k-select {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: .03em .2em;
}

/* Inputs */
.k-autocomplete-clearable,
.k-multiselect-clearable,
.k-combobox-clearable {
    .k-input {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.k-combobox-clearable .k-input {
    padding-right: calc(@input-height + .35em);
}

.k-multiselect-clearable .k-multiselect-wrap {
    padding-right: calc(@input-height + .35em);
}

/* Date/Time Pickers */

.k-datetimepicker .k-picker-wrap {
    padding-right: 4em;
}

.k-datetimepicker .k-select {
    width: 4em;

    .k-link-date {
        margin-left: -.285em;
    }

    .k-link-time {
        margin-right: -.285em;
        margin-left: .428em;
    }
}

.k-datetimepicker .k-picker-wrap .k-icon {
    margin: 0 2px;
}

.k-picker-wrap .k-icon {
    cursor: pointer;
}

.k-textbox,
.k-timepicker,
.k-datepicker,
.k-datetimepicker {
    display: inline-block;
    vertical-align: middle;
}

.k-time-popup .k-item {
    padding: 1px 3px;
}

/* inputs */

.k-input {
    font-size: inherit;
    padding: 0.25em 0;
}

.k-input,
.k-textbox > input {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.k-textbox {
    outline: 0;
}

input.k-textbox,
textarea.k-textbox {
    padding: 0.17857143em 0;
}

input.k-textbox {
    line-height: @input-height;
    text-indent: @input-indent;
}

.k-ie input.k-textbox
{
    text-indent: (@input-indent / 2);
}

textarea.k-textbox {
    height: auto;
}

/* NumericTextBox */

span.k-numerictextbox {
    background-color: transparent;
}

.k-numerictextbox .k-input /* alignment of arrows in WebKit */
{
    margin: 0;
}

.k-numerictextbox .k-link {
    display: block;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
    border-width: 0;
    padding: 0;
    overflow: hidden;
}

.k-numerictextbox {
    .k-icon {
        display: block;
        margin: auto;
        height: 100%;
    }

    .k-i-arrow-60-up {
        top: 0;
    }

    .k-i-arrow-60-down {
        bottom: 0;
    }
}

.k-numeric-wrap .k-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.k-disabled-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.k-rtl .k-multiselect-wrap {
    padding-right: 0;
    padding-left: (@grid-size + (@grid-size/4 + 2px));
}

.k-maskedtextbox {
    position: relative;
    display: inline-block;
    background-color: transparent;
    border-width: 0;

    ::-ms-clear {
        display: none;
        width : 0;
        height: 0;
    }

    .k-i-warning {
        display: none;
        position: absolute;
        width: 2em;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.k-state-invalid .k-i-warning {
        display: inline-block;
    }
}

.k-dateinput {
    position: relative;
    display: inline-block;
    border-width: 0;

    &.k-widget {
        background-color: transparent;
    }

    ::-ms-clear {
        display: none;
        width : 0;
        height: 0;
    }

    .k-i-warning {
        display: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        overflow: visible;
    }
    &.k-state-invalid {
        .k-i-warning {
            display: inline-block;
        }
    }
}

.k-datepicker,
.k-timepicker,
.k-datetimepicker {
    .k-picker-wrap {
        .k-i-warning {
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            overflow: visible;
        }

        &.k-state-invalid .k-i-warning {
            display: inline-block;
        }
    }
}

.k-listbox {
    box-sizing: border-box;
    height: 200px;

    &.k-widget {
        background-color: transparent;
    }

    .k-list-scroller {
        height: 100%;
        overflow: auto;
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;

        li {
            cursor: default;
            -moz-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }
    }

    .k-listbox-toolbar {
        box-sizing: border-box;
    }

    &.k-listbox-toolbar-top {
        padding: 15px 0 1.42857143em;

        .k-listbox-toolbar {
            margin-top: -15px;
            margin-bottom: 5px;

            li {
            display: inline-block;

                + li {
                    margin-left: 5px;
                }
            }
        }
    }

    &.k-listbox-toolbar-left {
        .k-listbox-toolbar {
            float: left;
            margin-right: 5px;

            li + li {
                margin-top: 5px;
            }
        }

    }

    &.k-listbox-toolbar-right {
        .k-listbox-toolbar {
            float: right;
            margin-left: 5px;

            li:not(:last-child) {
                margin-bottom: 5px;
            }
        }

    }

    &.k-listbox-toolbar-bottom {
        padding: 15px 0 1.45em;

        .k-list-scroller {
            margin-top: -15px;
        }

        .k-listbox-toolbar {
            margin-top: 5px;

            li {
                display: inline-block;

                + li {
                    margin-left: 5px;
                }
            }
        }
    }

    .k-ghost {
        opacity: .5;
    }
}

// RTL
.k-rtl {

    .k-dropdown-wrap,
    .k-picker-wrap,
    .k-numeric-wrap,
    .k-combobox-clearable .k-input {
        padding-right: 0;
        padding-left: calc(@input-height + .35em);
    }
}
