﻿@{
    ViewData["Title"] = "Manage Orders";
}
<style>
    #orderGrid .k-grid-header .k-header {
        background-color: #000 !important;
    }

    .k-header .k-icon {
        color: #808080 !important;
    }
    .k-grid tr td{
        cursor: pointer !important;
    }
</style>
<div style="margin-bottom: -11px;">
    <h1 style="color:#fff;text-align:center">Manage Orders</h1>

</div>
<br />
<br />
<div class="panel">
    <div class="panel-body">
        <div class="pull-right">
            <form class="form-horizontal pull-right" role="form" style="margin-right: 20px;margin-bottom:10px;margin-top:20px">
                <div class="form-group">
                    <div class="col-lg-12">
                        <input id="orderSearch" placeholder="Search Orders..." type="text" class="form-control" style="font-size: 14px; border-radius: 4px" />
                    </div>
                </div>
            </form>
        </div>
        <h2 style="font-weight:600; color:#DA291C">Order History</h2>
        <br />
        @(Html.Kendo().Grid<Harbro.Web.ViewModel.Order.OrderModel>()
          .Name("orderGrid")
          .Columns(c => {
              c.Bound(p => p.DateString).Title("Date");
              c.Bound(p => p.QuantityString).Title("Quantity").ClientTemplate("#=QuantityString#");
              c.Bound(p => p.Units).Title("Units (kg / tonnes)");
              c.Bound(p => p.ItemName).Title("Item Name");
              c.Bound(p => p.ItemId).Title("Item Id");
              c.Bound(p => p.ClientId).Title("Client").ClientTemplate("#=Client.Name#");
              c.Bound(p => p.ClientNumber).Title("Account Number").ClientTemplate("#=ClientNumber#");
              c.Bound(p => p.DeliveryMethod).Title("Delivery Method");
              c.Bound(p => p.StatusDescription).Title("Order Status").ClientTemplate("<span style='font-weight: 600;color:#=StatusTextColour#'>#=StatusDescription#</span><a href = '" + @Url.Action("ViewOrder", "Order", new { @id = "" }) + "/#=OrderId#' >");
          })
          .Sortable()
          .Filterable()
          .Groupable()
          .Pageable()
          .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
          .Events(e => e.Change("onSelect"))
          .Scrollable(s => s.Height("500px"))
          .Resizable(c => c.Columns(true))
          .ColumnMenu(c => c.Columns(true))
          .DataSource(dataSource => dataSource
          .Ajax()
          .Model(m => {
              m.Id(p => p.OrderId);
          })
          .PageSize(20)
          .Read(read => read.Action("GetOrders", "Order"))))
    </div>
</div>

@section Scripts{
    <script>
        var viewModel = new kendo.observable({
            baseCompanyLocationName: "",
            totalUsers: 0,
        });

        function onSelect() {
            var grid = $("#orderGrid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            var orderId = selectedItem.OrderId;
            window.location.href = "/Order/ViewOrder/" + orderId
        }

        function speciesChange() {
            var value = this.value(),
                orderGrid = $("#orderGrid").data("kendoGrid");

            if (value) {
                orderGrid.dataSource.filter({ field: "SpeciesDescription", operator: "contains", value: value });
            } else {
                orderGrid.dataSource.filter({});
            }
        }

        $("#orderSearch").keyup(function () {
            var query = $("#orderSearch").val();

            var orderGrid = $("#orderGrid").data("kendoGrid");

            if (query != null && query.length > 0) {
                var filter = {
                    logic: "or",
                    filters: [
                        { field: "ClientNumber", operator: "contains", value: query },
                        { field: "ItemName", operator: "contains", value: query },
                         { field: "ItemId", operator: "contains", value: query },
                        { field: "StatusDescription", operator: "contains", value: query },
                        { field: "Client.Name", operator: "contains", value: query },
                        { field: "QuantityString", operator: "contains", value: query },
                        { field: "DateString", operator: "contains", value: query }
                    ]
                };

                orderGrid.dataSource.filter(filter);
            } else {
                orderGrid.dataSource.filter([]);
            }
        });

        kendo.bind(document.body.children, viewModel);
    </script>
    @if (ViewBag.Message != null) {
        <script type="text/javascript">
            window.onload = function () {
                swal("", "@ViewBag.Message", "success")
            };
        </script>
        }
}
