﻿
@{
    ViewData["Title"] = "Clients";
}
<style>
    .k-link:link {
        color: #2C2A29 !important;
    }

    #clientGrid .k-grid-header .k-header {
        background-color: #2C2A29 !important;
    }
    .k-window div.k-window-content {
        overflow: hidden;
    }
</style>

<div class="panel">
    <div class="panel-body">
        <a class="btn btn-info pull-right" style="margin-top:25px ;margin-right:10px;color:#fff;background-color:#DA291C;border-color:#DA291C" data-bind="click:showCustomerWindow">Add New Client</a>
        <h2>Clients</h2>
        <br />
        @(Html.Kendo().Grid<Harbro.Web.ViewModel.Client.ClientModel>()
          .Name("clientGrid")
          .Columns(c => {
              c.Bound(p => p.Name).Title("Name").ClientTemplate("<a href = '" + @Url.Action("EditClient", "Admin", new { @id = "" }) + "/#=ClientId#'>#=Name#</a>"); ;
              c.Bound(p => p.ContactName).Title("Contact Name");
              c.Bound(p => p.Telephone).Title("Telephone");
              c.Bound(p => p.EmailAddress).Title("Email");
              c.Bound(p => p.BillingAddress).Title("Billing Address");
          })
          .Sortable()
          .Filterable()
          .Groupable()
          .Scrollable(s => s.Height("500px"))
          .Resizable(c => c.Columns(true))
          .ColumnMenu(c => c.Columns(true))
          .DataSource(dataSource => dataSource.Ajax().Model(m => { m.Id(p => p.ClientId); }).Read("GetClients", "Admin")))
    </div>
</div>
@(Html.Kendo().Window().Name("customerWindow")
     .Title("Customer Details")
     .Content(@<text>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            @(Html.Kendo().DropDownList()
                //.Filter(FilterType.Contains)
                .Name("customer")
                .OptionLabel("--- Select Customer ---")
                .Template("#=Key# | #=Value#")
                .DataValueField("Key")
                .DataTextField("Value")
                  .DataSource(source => {
                      source.Custom()
                      .ServerFiltering(true)
                      .ServerPaging(true)
                      .PageSize(80)
                      .Transport(transport => {
                          transport.Read("GetHarbroCustomers", "Lookup");
                      })
                      .Schema(schema => {
                          schema.Data("Data")
                                .Total("Total");
                      });
                  })
                  .Virtual(v => v.ItemHeight(26))
                  .HtmlAttributes(new { @style = "width:450px" }))
        </div>
    </div>
</div>
    <hr />
    <a class="btn btn-primary" id="confirm"> Save</a>
    </text>)
     .Modal(true)
     .Visible(false).Width(500))

@section Scripts{

    <script>
        function customerValueMapper(options) {
            $.ajax({
                url: "@Url.Action("CustomerValueMapper", "Lookup")",
                data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
        }
        function convertValues(value) {
            var data = {};
            value = $.isArray(value) ? value : [value];
            for (var idx = 0; idx < value.length; idx++) {
                data["values[" + idx + "]"] = value[idx];
            }
            return data;
        }

        $("#confirm").click(function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                traditional: true,
                url: '@Url.Action("CreateClient", "Admin")',
                data: {
                    accountNumber: $("#customer").val(),
                },
                success: function () {
                    window.location.reload();
                },
            });
        });

        var viewModel = new kendo.observable({
            showCustomerWindow: function () {
                $("#customerWindow").data("kendoWindow").center().open();
            }
        })
        kendo.bind(document.body.children, viewModel);
    </script>
}

