﻿@model Harbro.Web.Data.Model.User
@{
    ViewData["Title"] = "EditUser";
}
<style>
    textarea.k-textbox {
        padding-left: 10px !important
    }
</style>
<h2 style="color:white">@(string.IsNullOrWhiteSpace(Model.Name) ? "Add New User" : string.Format("Edit - {0}", Model.Name))</h2>
<hr />
@using (Html.BeginForm("EditUser", "Admin")) {
    @Html.ValidationSummary(false)
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Name</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Email Address</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.EmailAddress).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Phone Number</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.Phone).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Role</label>
                        <br />
                        @(Html.Kendo().DropDownListFor(m => m.Role)
                                .OptionLabel("--- Select Role ---")
                                .DataValueField("Key")
                                .DataTextField("Value")
                                .BindTo(Harbro.Web.Data.Constants.UserRoleConstant.ValuesAndDescriptions.ToList())
                                .HtmlAttributes(new { @style = "width:250px;" }))
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Password)
        @Html.HiddenFor(m => m.Salt)
        @Html.HiddenFor(m => m.Accessed)
        @Html.HiddenFor(m => m.Created)
        <input type="submit" class="btn btn-primary" style="margin-bottom: 20px" value="Save User Details" />
    </div>
    }
@section Scripts {

    @if (ViewBag.Message != null) {
        <script type="text/javascript">
            window.onload = function () {
                swal("","@ViewBag.Message", "success")
            };
        </script>
        }
}
