﻿@model Harbro.Web.ViewModel.Client.ClientModel
@{
    ViewData["Title"] = "EditClient";
}
<style>
    textarea.k-textbox {
        padding-left: 10px !important
    }
</style>
<h2 style="color:white">Edit - @Model.Name</h2>
<hr />
@using (Html.BeginForm("Edit", "Client")) {
    @Html.ValidationSummary(false)
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Contact Name</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.ContactName).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Account Number</label>
                    <br />
                    @(Html.Kendo().TextBoxFor(m => m.CustomerNumber).HtmlAttributes(new { @style = "width: 100%", @readonly = "readonly" }))
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Telephone</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.Telephone).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>EmailAdress</label>
                        <br />
                        @(Html.Kendo().TextBoxFor(m => m.EmailAddress).HtmlAttributes(new { @style = "width: 100%" }))
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Delivery Address</label>
                        <br />
                        @(Html.TextAreaFor(m => m.BillingAddress, new { @style = "width: 100%", @class = "k-textbox", @rows = "5" }))
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.Password)
        @Html.HiddenFor(m => m.Salt)
        @Html.HiddenFor(m => m.Accessed)
        @Html.HiddenFor(m => m.Created)
        <input type="submit" class="btn btn-sm btn-primary pull-right " style="margin-bottom: 20px" value="Save Customer Details" />
        @if (!string.IsNullOrEmpty(Model.EmailAddress)) {
        <a href="@Url.Action("GeneratePassword", "Admin", new {@id = Model.ClientId })" class="btn btn-sm btn-info pull-right" style="margin-bottom: 20px"> @(string.IsNullOrWhiteSpace(Model.Password) ? "Generate Password" : "Reset Password")</a>
            }
    </div>
    }

@section Scripts {

    @if (ViewBag.Message != null) {
        <script type="text/javascript">
            window.onload = function () {
                swal("","@ViewBag.Message", "success")
            };
        </script>
        }
}
