﻿
@{
    ViewData["Title"] = "Users";
}
<style>
    .k-link:link {
        color: #2C2A29 !important;
    }

    #userGrid .k-grid-header .k-header {
        background-color: #2C2A29 !important;
    }
</style>

<div class="panel">
    <div class="panel-body">
        <a href="@Url.Action("AddUser","Admin")" class="btn btn-info pull-right" style="margin-top:25px ;margin-right:10px;color:#fff;background-color:#DA291C;border-color:#DA291C">Add New User</a>
        <h2>Users</h2>
        <br />
        @(Html.Kendo().Grid<Harbro.Web.ViewModel.User.UserModel>()
          .Name("userGrid")
          .Columns(c => {
              c.Bound(p => p.Name).Title("Name").ClientTemplate("<a href = '" + @Url.Action("EditUser", "Admin", new { @id = "" }) + "/#=UserId#'>#=Name#</a>"); ;
              c.Bound(p => p.EmailAddress).Title("Email Address");
              c.Bound(p => p.Phone).Title("Telephone");
              c.Bound(p => p.Role).Title("Role").ClientTemplate("#=RoleDescription#");
          })
          .Sortable()
          .Filterable()
          .Groupable()
          .Scrollable(s => s.Height("500px"))
          .Resizable(c => c.Columns(true))
          .ColumnMenu(c => c.Columns(true))
          .DataSource(dataSource => dataSource.Ajax().Model(m => { m.Id(p => p.UserId); }).Read("GetUsers", "Admin")))
    </div>
</div>

